<h2>{{currentcourt.court}}</h2>
<div ng-controller="ratingCtrl" ng-mouseover="totalRating = true"
    ng-mouseleave="totalRating = false">
	<rating
	class="pointer"
	style="color: gold; font-size: 150%;"
	ng-model="currentcourt.averagedRating" 
	max="5"
	data-readonly="true"  
	titles="['不要去','有瑕疵','不錯', '很好打', '極品']"
	ng-click="openRates()"></rating>
    <span ng-show="totalRating" style="position: absolute;" class="badge">總共{{currentcourt.ratings.length}}個評價</span>
	<span ng-show="currentcourt.indoor" style="font-size: 120%; padding-bottom: 2px" class="label label-success">室內</span>
</div>
<div class="infoWindowContent">
	<h5 ng-hide="showAddress">{{currentcourt.city}}
		<span ng-show="currentcourt.district">-{{currentcourt.district}}</span>
		<button class="addressBtn"
		ng-init="showAddress=false" 
		ng-click="showAddress=!showAddress">
			<span class="glyphicon glyphicon-plus-sign"
			ng-class="{'glyphicon-plus-sign': !showAddress, 'glyphicon-minus-sign': showAddress}"></span>
		</button>
	</h5>
	<h5 ng-show="showAddress">{{currentcourt.address}}
		<button class="addressBtn"
		ng-init="showAddress=false" 
		ng-click="showAddress=!showAddress">
			<span class="glyphicon glyphicon-plus-sign"
			ng-class="{'glyphicon-plus-sign': !showAddress, 'glyphicon-minus-sign': showAddress}"></span>
		</button>
	</h5>
	<div ng-click="goIndividual(currentcourt)"><a>前往球場主頁</a></div>
</div>
<button ng-show="isAdmin || isManager || isCreator()" class="btn btn-danger pull-left" ng-click="deletemarker(markernow.id)">
	<span class="glyphicon glyphicon-trash"></span>
</button>

<a ng-click="share()" class="btn-sm btn-primary pull-right">
	分享<i class="fa fa-external-link" style="margin-left: 5px"></i>
</a>