<div ng-show="showPreview">
	<div class="jumbotron pic-overlay">
		<img src="/assets/images/pic4.jpg" class="coverPic" ng-hide="event.pics[0].url">
		<img ng-src="{{currentcourt.pictures[0].url}}" class="coverPic">
		<div class="jumbotron-content-container">		
			<h1 >{{currentcourt.court}}</h1>
			<p>{{currentcourt.address}}</p>
			<div style="text-align: center">
				<div ng-controller="ratingCtrl">
		        	<div ng-mouseover="totalRating = true"
		        	ng-mouseleave="totalRating = false">
			            <rating class="pointer" 
			            style="color: gold; font-size: 150%;"
			            ng-model="currentcourt.averagedRating" 
			            max="5" 
						data-readonly="true" 
			            titles="['不要去','有瑕疵','不錯', '很好打', '極品']"
			            ng-click="openRates()"></rating>
			            <span ng-show="totalRating" style="position: absolute; font-size: 120%;" class="badge">總共{{currentcourt.ratings.length}}個評價</span>
		        	</div>
		            <br>
		            <!-- <span>總分{{currentcourt.averagedRating | number:2}}</span> -->
		            <div style="margin-bottom: 25px;">每人
		            	<span class="price-tag">${{currentcourt.perPersonPrice}}</span>
		            /小時</div>
		            <div>每小時至少{{currentcourt.minCapacity}}人開放</div>
			        <div style="margin-top: 20px;">
			        	<button style="font-size:90%" class="eventBtn" ng-click="openRate()">給予評價</button>
			        	<button style="font-size:90%" class="eventBtn" ng-click="openRate()">預約場地</button>
			        </div>
		        </div>
		        <div class="fbContainer">
			        <div class="fb-like" onrender="fbLikeRendered()"
					  data-href="https://keepballin.com/courts/{{currentcourt._id}}" 
					  data-layout="button_count" 
					  data-action="like"
					  data-image="http://s3-ap-northeast-1.amazonaws.com/keepballin/pictures/assets/preview.png" 
					  data-show-faces="true" 
					  data-share="true"></div>
		        </div>
	        </div>
		</div>
	</div>
	<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px;">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header" style="border-bottom: 1px solid black;">
					<h2>
						<i class="fa fa-flag"></i>
						簡介
					</h2>
				</div>
				<p style="font-size: 130%;">{{currentcourt.desc}}</p>	
			</div>
			<div class="col-sm-12" style="font-size: 150%;">
				<div class="page-header" style="border-bottom: 1px solid black;">
					<h2>
						<i class="fa fa-clock-o"></i>
						開放時段
					</h2>
				</div>
				<div style="overflow-x: scroll">
					<table class="flat-table">
		            	<thead>
		            		<th>禮拜一</th>
		            		<th>禮拜二</th>
		            		<th>禮拜三</th>
		            		<th>禮拜四</th>
		            		<th>禮拜五</th>
		            		<th>禮拜六</th>
		            		<th>禮拜日</th>
		            	</thead>
		            	<tbody>
		            		<tr>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['monday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['monday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['monday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['monday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['tuesday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['tuesday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['tuesday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['tuesday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['wednesday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['wednesday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['wednesday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['wednesday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['thursday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['thursday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['thursday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['thursday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['friday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['friday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['friday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['friday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['saturday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['saturday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['saturday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['saturday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['sunday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['sunday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['sunday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['sunday'].isOpen">
		            					不開放
		            				</span>
		            			</td>		
		            		</tr>
		            	</tbody>
		            </table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header" style="border-bottom: 1px solid black;">
					<h2>
						<img style="width: 30px; height; 30px;" src="/assets/images/basketball.icon.png" alt="">
						球場資訊
					</h2>
				</div>
				<div class="col-sm-6">
					<p ng-show="currentcourt.indoor">室內
						<i class="fa fa-home"></i>
					</p>
		            <p ng-show="!currentcourt.indoor">室外</p>
		            <p>全場數: {{currentcourt.courtnumber}}</p>
		            <p>籃框數:{{currentcourt.basketnumber}}</p>
		            <p>地質:{{currentcourt.floor}}</p>
				</div>
				<div class="col-sm-6">
		            <p>燈
		            	<i class="fa fa-lightbulb-o "></i>
		            :{{currentcourt.lights | exist}}</p>
		            <p>飲水機:{{currentcourt.water | exist}}</p>
		            <p>廁所:{{currentcourt.toilet | exist}}</p>
		            <p>觀眾席: {{currentcourt.bench | exist}}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-header" style="border-bottom: 1px solid black;">
					<h2>
						<i class="fa fa-usd"></i>
						租借資訊
					</h2>
				</div>
				<p>每人每小時收費: ${{currentcourt.perPersonPrice}}</p>
				<p>最低人數限制: {{currentcourt.minCapacity}}</p>
				<p>最高人數限制: {{currentcourt.maxCapacity}}</p>
			</div>
			<div class="col-sm-12">
				<div class="page-header" style="border-bottom: 1px solid black;">
					<h2>
						<i class="fa fa-map-pin"></i>
						地點
					</h2>
				</div>
				<div id="previewMap" class="rentCourtMap"></div>
			</div>
			<div class="col-sm-12">
				<div class="page-header black-bottom-border">
					<h2>
						<i class="fa fa-gavel"></i>
						使用條款
					</h2>
				</div>
				<div class="rules-html" ng-bind-html="currentcourt.rules"></div>
			</div>
			<div class="col-sm-12">
				<div class="page-header" style="border-bottom: 1px solid black;">
					<h2>
						<i class="fa fa-camera"></i>
						照片
					</h2>
				</div>
				<p ng-hide="currentcourt.pictures[0].url">目前還沒有照片</p>
				<div style="width: 100%">
					
				</div>
				<div ng-click="openGallery()"
				class="pointer commentBtn" 
				style="font-size: 120%; margin: 10px auto; text-align: center" 
				tooltip="管理球場的照片"
			    tooltip-trigger="mouseenter"
		        tooltip-placement="right">看所有照片</div>
				<carousel interval="5000" no-wrap="false">
					<slide ng-repeat="slide in currentcourt.pictures track by $index" active="slide.active">
						<img class="img-responsive" 
						ng-src="{{slide.url}}" 
						style="margin:auto;">
						<div class="carousel-caption">
				          <h4>由{{slide.user.name}}提供</h4>
				        </div>
					</slide>
				</carousel>
					
			</div>
		</div>
	</div>
</div>
<!-- Control bar -->
<div class="control-bar">
	<div class="container" ng-hide="showPreview">
		<div class="col-xs-3 control-bar-btn">
			<button class="btn btn-success" ng-click="openPreview();">預覽</button>
		</div>
		<div class="col-xs-6 court-info-progress">
			<h3>球場資訊完整度
				<span class="label label-warning" ng-hide="currentcourt.approved">審核中</span>
				<span class="label label-default" ng-hide="currentcourt.isPublic">未公開</span>
				<span class="label label-success" ng-show="currentcourt.isPublic">已公開</span>
			</h3>
			<div class="progress" ng-mouseenter="showBubble=true" ng-mouseleave="showBubble=false">
			  <div class="progress-bar courtInfoProgressBar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%;">
			    {{progress}}%
			  </div>
			</div>
			<div class="toDo-bubble" ng-show="showBubble">
				<strong>請增加以下資訊</strong>	
				<ol>
					<li ng-repeat="td in toDos">
						{{td.ch}}
					</li>
				</ol>
			</div>
		</div>
		<div class="col-xs-3 control-bar-btn">
			<button class="btn btn-primary pull-right" ng-click="saveEdit()" ng-disabled="sending">
				<div ng-hide="sending">儲存</div>
				<div class="loading-btn" ng-show="sending">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				</div>	
			</button>
		</div>
	</div>
	<div class="return-btn pointer" ng-show="showPreview" ng-click="showPreview=!showPreview" tooltip="回編輯" tooltip-placement="right">
		<i class="fa fa-arrow-left"></i>
	</div>
</div>
<!-- Editing page -->
<div class="editPageBackground rentPageContainer" ng-click="stopPropagate($event)" style="margin-top: 100px;" ng-hide="showPreview">
	<div class="page-header">
		<h3>是否公開？</h3>
	</div>
	<div style="text-align: center">
		<button class="trans-btn">
			<div ng-hide="currentcourt.isPublic" ng-click="goPublic()">公開
				<i class="fa fa-circle" style="color: green"></i>
			</div>
			<div ng-show="currentcourt.isPublic" ng-click="goPublic()">不公開
				<i class="fa fa-circle" style="color: grey"></i>
			</div>
		</button>
	</div>
	<div class="page-header">
		<h3>照片</h3>
	</div>
	<div style="text-align: center">
		<div class="text-muted">目前無照片</div>
		<button class="trans-btn">新增照片
			<i class="fa fa-camera"></i>
		</button>
	</div>
	<form class="form-horizontal" name="editform" novalidate>
		<div class="page-header">
			<h3>聯絡資訊</h3>
		</div>
		<div class="form-group">
	        <div class="col-sm-3">
	            <!-- Contact name -->
	            <label for="contactname" class="control-label">*聯絡人:</label>
	            <input type="text" ng-model="currentcourt.contactname" placeholder="姓名" class="form-control" required>
	        </div>
	        <div class="col-sm-3">
	            <!-- Relation -->
	            <label for="city" class="control-label">*與出租地的關係:</label>
	            <input type="text" ng-model="currentcourt.contactrelation" placeholder="場地擁有者？代理？" class="form-control" required>
	        </div>
	        <div class="col-sm-3">
	            <label for="email" class="control-label">*聯絡Email:</label>
	            <input type="email" ng-model="currentcourt.contactemail" placeholder="聯絡人的Email" class="form-control" required>
	        </div>
	        <div class="col-sm-3">
	            <label for="telephone" class="control-label">*聯絡電話:</label>
	            <input type="tel" ng-model="currentcourt.telnumber" placeholder="球場電話" class="form-control" required>
	        </div>
	    </div>
	    <div class="page-header">
			<h3>地點</h3>
		</div>
	    <div class="form-group">
	        <div class="col-sm-4">
	            <!-- Court name -->
	            <label for="courtname" class="control-label">*球場名:</label>
	            <input type="text" ng-model="currentcourt.court" placeholder="簡潔明瞭的地名" class="form-control" required>
	        </div>
	        <div class="col-sm-4">
	            <!-- City -->
	            <label for="city" class="control-label">*城市:</label>
	            <input type="text" ng-model="currentcourt.city" placeholder="什麼市？" class="form-control" ng-blur="addCity()" required>
	        </div>
	        <div class="col-sm-4">
	            <label for="district" class="control-label">區域:</label>
	            <input type="text" ng-model="currentcourt.district" placeholder="什麼區？" class="form-control" ng-blur="addDistrict()">
	        </div>
	    </div>
	    <!-- Court address and map -->
	    <div class="form-group">
	        <div class="col-sm-12">
	            <!-- Court address -->
	            <label for="courtaddress" class="control-label">*球場地址:</label>
	            <input type="text" name="address" ng-model="currentcourt.address" placeholder="實際地址" class="form-control" required>
	        	<label for="courtmap" class="control-label">輸入地址後，直接拖曳標籤調整</label>
	        	<div class="rentCourtMap">
		            <!-- Map -->
		        	<div id="courtEditMap" class="rentCourtMap">
		        	</div>
		        	<div class="mapLoadingOverlay" ng-show="searchForPlace">
			        	<div class="mapLoaderContainer">
			        		<div class="spinner mapLoader">
							  <div class="rect1"></div>
							  <div class="rect2"></div>
							  <div class="rect3"></div>
							  <div class="rect4"></div>
							</div>	
			        	</div>
		        	</div>
	        	</div>
	        </div>
	    </div>
	    <div class="form-group">
	        <!-- Hours -->
	        <div class="col-sm-12">
	        	<div class="page-header">
	        		<h3>開放時間</h3>
	        	</div>
	            <div class="form-group">
	                <div class="margin-middle" style="width: auto">
		            	<div class="btn-group">
					        <label class="btn btn-primary" ng-click="everyday()">每天</label>
					        <label class="btn btn-primary" ng-model="checkModel.monday" btn-checkbox>禮拜一</label>
					        <label class="btn btn-primary" ng-model="checkModel.tuesday" btn-checkbox>禮拜二</label>
					        <label class="btn btn-primary" ng-model="checkModel.wednesday" btn-checkbox>禮拜三</label>
					        <label class="btn btn-primary" ng-model="checkModel.thursday" btn-checkbox>禮拜四</label>
					        <label class="btn btn-primary" ng-model="checkModel.friday" btn-checkbox>禮拜五</label>
					        <label class="btn btn-primary" ng-model="checkModel.saturday" btn-checkbox>禮拜六</label>
					        <label class="btn btn-primary" ng-model="checkModel.sunday" btn-checkbox>禮拜日</label>
					    </div>
	                </div>
	                <div class="margin-middle" style="display: table;">

	                    <span class="table-cell-align">
		                    <timepicker ng-model="begin" minute-step="30" show-meridian="true"></timepicker>
	                    </span>
	                    <span class="table-cell-align" style="font-weight: bold;">
	                    	~
	                    </span>
	                    <span class="table-cell-align">
		                    <timepicker ng-model="end" minute-step="30" show-meridian="true"></timepicker> 
	                    </span>
	                    <span class="table-cell-align">
	                    	<button type="button" class="btn btn-primary" ng-click="addNewTime();" tooltip-placement="right" tooltip="增加時段">
		                    	<i class="fa fa-plus"></i>
	                    	</button>
	                    </span>
	                </div>
	            </div>
	            <div class="col-sm-12" style="overflow-x: scroll;">
		            <table class="flat-table">
		            	<thead>
		            		<th>禮拜一</th>
		            		<th>禮拜二</th>
		            		<th>禮拜三</th>
		            		<th>禮拜四</th>
		            		<th>禮拜五</th>
		            		<th>禮拜六</th>
		            		<th>禮拜日</th>
		            	</thead>
		            	<tbody>
		            		<tr>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['monday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['monday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['monday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['monday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['tuesday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['tuesday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['tuesday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['tuesday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['wednesday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['wednesday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['wednesday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['wednesday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['thursday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['thursday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['thursday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['thursday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['friday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['friday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['friday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['friday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['saturday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['saturday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['saturday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['saturday'].isOpen">
		            					不開放
		            				</span>
		            			</td>
		            			<td class="text-center">
		            				<span>{{ currentcourt.hours['sunday'].begin | date: 'shortTime' }}</span>
		            				<br/>
		            				<span ng-show="currentcourt.hours['sunday'].isOpen">
		            					<i class="fa fa-long-arrow-down"></i>
		            				</span>
		            				<br/>
		            				<span>{{ currentcourt.hours['sunday'].end | date: 'shortTime' }}</span>
		            				<span ng-hide="currentcourt.hours['sunday'].isOpen">
		            					不開放
		            				</span>
		            			</td>		
		            		</tr>
		            		<tr>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('monday')" ng-show="currentcourt.hours['monday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('tuesday')" ng-show="currentcourt.hours['tuesday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('wednesday')" ng-show="currentcourt.hours['wednesday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('thursday')" ng-show="currentcourt.hours['thursday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('friday')" ng-show="currentcourt.hours['friday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('saturday')" ng-show="currentcourt.hours['saturday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            			<td>
		            				<button type="button" class="btn" ng-click="closeDay('sunday')" ng-show="currentcourt.hours['sunday'].isOpen">
		            					不開放
		            				</button>
		            			</td>
		            		</tr>
		            	</tbody>
		            </table>
	            </div>
	        </div>
	    </div>
	    <div class="page-header">
	    	<h3>租借資訊</h3>
	    </div>
	    <div class="form-group">
	        <div class="col-sm-3">
	            <label for="rent" class="control-label">*平均租金:</label>
	            <div class="input-group">
	                <div class="input-group-addon">$</div>
	                <input type="number" min="0" class="form-control" ng-model="currentcourt.rentprice" ng-blur="perPerson()" required>
	                <div class="input-group-addon">/小時</div>
	                
	            </div>
	        </div>
	        <div class="col-sm-3">
	            <label for="min-capacity" class="control-label">*一小時所需最少人數:</label>
	            <input type="number" min="0" ng-model="currentcourt.minCapacity" placeholder="阿拉伯數字" class="form-control" ng-blur="perPerson()" required>
	        </div>
	        <div class="col-sm-3">
	            <!-- Court number -->
	            <label for="max-capacity" class="control-label">*最多可容人數:</label>
	            <input type="number" min="0" ng-model="currentcourt.maxCapacity" placeholder="阿拉伯數字" class="form-control" ng-blur="maxRev()" required>
	        </div>
	        <div class="col-sm-3">
	            <!-- Court number -->
	            <label for="hours-b4-reserve" class="control-label">*需幾小時前預約:</label>
	            <div class="input-group">
	                <input type="number" min="0" ng-model="currentcourt.hoursBeforeReserve" placeholder="阿拉伯數字" class="form-control" required>
	                <div class="input-group-addon">
	                    小時前
	                </div>
	            </div>
	        </div>
	        <div class="col-sm-6">
	            <label for="min-capacity" class="control-label">預計一位散客的費用:</label>
	            <input type="number" min="0" ng-model="currentcourt.perPersonPrice" class="form-control" ng-disabled="true">
	        </div>
	        <div class="col-sm-6">
	            <label for="min-capacity" class="control-label">每小時最大營業額:</label>
	            <input type="number" min="0" ng-model="currentcourt.maxRevenue" class="form-control" ng-disabled="true">
	        </div>
	    </div>
	    <div class="page-header">
	    	<h3>設備資訊</h3>
	    </div>
	    <div class="form-group">
	    	<div class="col-sm-4">
	            <!-- Court number -->
	            <label for="" class="control-label">*全場數:</label>
	            <input type="number" min="0" step="0.5" ng-model="currentcourt.courtnumber" placeholder="阿拉伯數字" class="form-control" required> 
	        </div>
	        <div class="col-sm-4">
	            <!-- Basket number -->
	            <label for="" class="control-label">籃框數:</label>
	            <input type="number" min="0" ng-model="currentcourt.basketnumber" placeholder="阿拉伯數字" class="form-control">        
	        </div>
	        <div class="col-sm-4">
	            <!-- Floor -->
	            <label for="" class="control-label">地質:</label>
	            <input type="text" ng-model="currentcourt.floor" placeholder="球場地板怎麼樣？" class="form-control">
	        </div>
	    </div>
	    <div class="courtedit-checkboxes">
	        <!-- Indoor -->
	        <label for="indoor" class="control-label">室內:</label>
	        <input type="checkbox" ng-model="currentcourt.indoor">
	        <!-- Light -->
	        <label for="lights" class="control-label">燈:</label>
	        <input type="checkbox" ng-model="currentcourt.lights">
	        <!-- Water -->
	        <label for="" class="control-label">飲水機:</label>
	        <input type="checkbox" ng-model="currentcourt.water">
	        <!-- Toilet -->
	        <label for="" class="control-label">廁所:</label>
	        <input type="checkbox" ng-model="currentcourt.toilet">
	        <label for="bench" class="control-label">觀眾座位:</label>
	        <input type="checkbox" ng-model="currentcourt.bench">
	    </div>
	    <!-- Manager Message -->
	    <div class="form-group">
	        <label for="" class="control-label">*簡介:</label>
	        <textarea class="form-control" rows="3" ng-model="currentcourt.desc" required></textarea>
	    </div>
	    <div class="form-group">
	        <!-- Rules -->
	        <label for="rules" class="control-label">使用條款</label>
	        <text-angular ng-model="currentcourt.rules"></text-angular>
	    </div>
	</form>
	<div class="col-sm-12">
		<p class="btn btn-primary" ng-show="isAdmin()" ng-click="approve()">通過</p>
	</div>
</div>