.rentPageContainer {
    margin-top: 65px;
	@media(min-width: $screen-sm-min) {
       margin-top: 0px;
    }
}

/* Size of google map for when user create new court to rent */
.rentCourtMap {
	width: 100%; 
	height: 400px;
}

/* Overlay to prevent user messing with map while it's still loading */
.mapLoadingOverlay {
	position: absolute; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	height: 400px; 
	background-color: rgba(255,255,255,0.8);
	display: table;
}

/* Keep shit in the center without fucking up the height of the spinner */
.mapLoaderContainer {
	display: table-cell; 
	vertical-align: middle;
}

/* Changing the color of the animated bars */
.mapLoader {
	.rect1 {
		background-color: $brand-primary;
	}
	.rect2 {
		background-color: $brand-primary;
	}
	.rect3 {
		background-color: $brand-primary;
	}
	.rect4 {
		background-color: $brand-primary;
	}
}

/* table cell and align middle vertically */
.table-cell-align {
	display: table-cell; 
	vertical-align: middle;
}

.margin-middle {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

/* hours preview table styles */

.flat-table {
	margin: 0 auto;
	border-collapse:collapse;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	border: 1px solid black;
    border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
}
.flat-table th, .flat-table td {
	box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
	inset 0 1px rgba(0,0,0,0.25);
}
.flat-table th {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	padding: 1em;
	color: #f7f7f7;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-size: 1em;
	background: $brand-primary;
}
.flat-table td {
	color: black;
	padding: 0.7em 1em 0.7em 1.15em;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 0.8em;
}
.flat-table tr {
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.court-info-progress {
	h3 {
		margin-top: 0;
		color: white;
	}
}

.control-bar {
	@media(min-width: $screen-sm-min) {
		top: 60px; left: 0; 
		padding-top: 25px; 
		padding-bottom: 5px;
	}
	height: auto; 
	width: 100%; 
	position: absolute; 
	top: 50px; left: 0; 
	background-color: rgba(0 ,0 ,0 ,0.8); 
	z-index: 10;
	padding: 5px;
	h3 {
		font-size: 80%;
		@media(min-width: $screen-sm-min) {
			font-size: 125%;
		}
	}
}

.control-bar-btn {
	padding-top: 1em;
}

/* hours preview table styles end */

/* Animation for court's info progress bar */
.courtInfoProgressBar {
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	transition: width 1s;
}

/* Give spacing to the check boxes */
.courtedit-checkboxes {
	input {
		margin-right: 2em;
	}
}

/* Button style for add photo */
.trans-btn {
	border: 1px solid $brand-primary;
	border-radius: 5px;
	padding: 5px 10px;
	background: none;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;

}

.trans-btn:hover {
	color: white;
	background-color: $brand-primary;
}

/* Return to edit btn */
.return-btn {
	@media(min-width: $screen-sm-min) {
		top: -8px;
	}
	top: 0;
	color: white; 
	border: 1px solid white; 
	border-radius: 25px; 
	width: 25px; 
	height: 25px; 
	text-align: center; 
	margin-left: 20px; 
	position: relative; 
	padding-top: 1px;
}

/* Transparent picture overlay */
.pic-overlay {
	width: 100%; 
	height: 100vh; 
	display: table; 
	background: rgba(0,0,0,0.8);
}

/* jumbotron content container */
.jumbotron-content-container {
	display: table-cell; 
	vertical-align: middle; 
	color: white;
}

/* To do bubble */
.toDo-bubble {
	position: absolute;
	right: 0;
	width: 250px;
	height: auto;
	padding: 5px;
	padding-left: 20px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: rgba(0, 0, 0, 0.2) solid 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toDo-bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 20px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -15px;
	top: -20px;
	right: 10%;
}

.toDo-bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 20px;
	border-color: rgba(0, 0, 0, 0.2) transparent;
	display: block;
	width: 0;
	z-index: 0;
	margin-left: -15px;
	top: -21px;
	right: 10%;
}

/* Loading spinner for btn */
.loading-btn {
  width: 28px;
  height: 19px;
  text-align: center;
  font-size: 10px;
}

.loading-btn > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading-btn .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-btn .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-btn .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-btn .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* price tag */
.price-tag {
	font-size: 150%; 
	border: 1px solid $brand-primary; 
	border-radius: 5px; 
	padding: 10px;
}

/* Black bottom border for page-header */
.black-bottom-border {
	border-bottom: 1px solid black;
}

/* Styles for rules html */
.rules-html {
	margin: 0 auto;
	padding: 15px;
}