<div class="container spaceFromTop" style="background-color: white; overflow-x: scroll;">
  <h1>Keepballin的使用者</h1>
  <div class="row">
    <div class="col-sm-12">
      <tabset justified="true">
        <tab class="tab" heading="使用者" ng-click="changeTab('user')"></tab>
        <tab class="tab" heading="出租球場" ng-click="changeTab('indoor')"></tab>
      </tabset>
    </div>
    <div ng-include="'app/admin/user.temp.html'" ng-show="current == 'user'"></div>
    <div ng-include="'app/admin/indoor.temp.html'" ng-show="current == 'indoor'"></div>
</div>