<div class="container spaceFromTop">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="color: white">個人檔案</h1>
    </div>
    <div class="col-sm-12">
      <tabset justified="true">
        <tab class="tab" heading="基本資料" ng-click="getTemplate(0)" active="active0"></tab>
        <tab class="tab" heading="KB點數" ng-click="getTemplate(1)" active="active1"></tab>
        <!-- <tab class="tab" heading="我的球隊" ng-click="getTemplate(2)" active="active2"></tab> -->
        <tab class="tab" heading="我的球場" ng-click="getTemplate(2)" active="active2"></tab>
        <tab class="tab" heading="我的預約" ng-click="getTemplate(3)" active="active3"></tab>
      </tabset>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-12 wrapContent">
        <div ng-show="profile" ng-include="'app/account/settings/temp/profile/profile.html'"></div>
        <div ng-show="team" ng-include="'app/account/settings/temp/team/team.html'"></div>
        <div ng-show="points" ng-include="'app/account/settings/temp/points/points.html'"></div>
        <div ng-show="court" ng-include="'app/account/settings/temp/court/mycourt.html'"></div> 
        <div ng-show="reservation" ng-include="'app/account/settings/temp/reservation/reservation.html'"></div>  
      </div>
    </div>
  </div>
</div>