<div class="col-sm-4" ng-controller="uploadCtrl">
  <h2>{{userNow.name}}，你好</h2>
  <div class="profilePicOverlay" ng-mouseover="showOverlay=true" ng-mouseleave="showOverlay=false" ng-hide="loading">
    <img class="img-responsive thumbnail" ng-src="{{profilenow}}" alt="你的相片">
    <i ngf-select="uploadprofile(newpic)" ng-model="newpic" ng-show="showOverlay" class="glyphicon glyphicon-camera glyph-overlay" ngf-max-size="10MB" ngf-resize="{width: 100, height: 100}"></i>
    <p class="text-muted">檔案必須小於10MB</p>
  </div>
  <div class="profilePicOverlay" ng-show="loading">
    <img class="img-responsive thumbnail" ng-src="{{profilenow}}" alt="profilepicplaceholder">
    <div class="glyph-overlay text-center">
      <div class="loaderWrapper">
        <div class="loader">Loading</div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-8">
  <div class="page-header">
    
  </div>
  <accordion close-others="true">
    <accordion-group is-open="prof.open">
      <accordion-heading>
        <div class="clearfix">
          <div class="pull-left">
            職業:&nbsp
          </div>
          <div ng-repeat="pro in userNow.profession track by $index">
            <span class="professionBadge">{{pro}}</span>
          </div>
          <i class="fa pull-right accordHead" ng-class="{'fa-bars': prof.open, 'fa-money': !prof.open}">
          </i>
        </div>
      </accordion-heading>
      <div ng-include="'app/account/settings/temp/profile/profile.accordion/profession.html'"></div>
    </accordion-group>
    <!-- Player name -->
    <accordion-group is-open="name.open">
      <accordion-heading>姓名:&nbsp{{userNow.name}}
        <i class="fa pull-right accordHead" ng-class="{'fa-bars': name.open, 'fa-user': !name.open}">
        </i>
      </accordion-heading>
      <div ng-include="'app/account/settings/temp/profile/profile.accordion/name.html'"></div>
    </accordion-group>
    <!-- Email -->
    <accordion-group is-open="email.open">
      <accordion-heading>Email:&nbsp{{userNow.email}}
        <i class="fa pull-right accordHead" ng-class="{'fa-bars': email.open, 'fa-envelope': !email.open}">
        </i>
      </accordion-heading>
      <div ng-include="'app/account/settings/temp/profile/profile.accordion/email.html'"></div>
    </accordion-group>
    <!-- Password -->
    <accordion-group is-open="pw.open">
      <accordion-heading>更改密碼
        <i class="fa pull-right accordHead" ng-class="{'fa-bars': pw.open, 'fa-lock': !pw.open}">
        </i>
      </accordion-heading>
      <div ng-include="'app/account/settings/temp/profile/profile.accordion/password.html'"></div>
    </accordion-group>
    <accordion-group is-open="preference.open">
      <accordion-heading>喜愛
        <i class="fa pull-right accordHead" ng-class="{'fa-bars': preference.open, 'fa-heart': !preference.open}">
        </i>
      </accordion-heading>
      <div ng-include="'app/account/settings/temp/profile/profile.accordion/preference.html'"></div>
    </accordion-group>
    <!-- Info -->
    <accordion-group is-open="info.open">
      <accordion-heading>基本資料
        <i class="fa pull-right accordHead" ng-class="{'fa-bars': info.open, 'fa-info': !info.open}">
        </i>
      </accordion-heading>
      <div ng-include="'app/account/settings/temp/profile/profile.accordion/info.html'"></div>
    </accordion-group>
  </accordion>
  <a ui-sref="profile({id: userNow._id})">
    前往個人檔案
  </a>
</div>
