<a ng-click="share()" class="btn-sm btn-primary pointer" style="position: fixed; left: 0; top: 50%;">
	分享<i class="fa fa-external-link" style="margin-left: 5px"></i>
</a>
<div class="jumbotron" style="width: 100%; height: 600px; display: table;">
	<img src="/assets/images/pic4.jpg" class="coverPic" ng-hide="event.pics[0].url">
	<img ng-src="{{event.pics[0].url}}" class="coverPic">
	<div style="display: table-cell; vertical-align: middle; color: white;">
	<!-- /assets/images/pic4.jpg -->
		<h1 >{{event.name}}</h1>
		<button ng-click="join()" class="eventBtn" ng-hide="showMinus">+1</button>
		<button ng-show="isCreator" class="btn btn-primary" ui-sref="thisevent.upload">
			上傳照片<i class="fa fa-camera"></i>
		</button>
	</div>
</div>
<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px;">
	<div class="row">
		<div class="col-sm-6" style="font-size: 150%;">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-clock-o"></i>
					活動時段
				</h2>
			</div>
			<p>開始時間:
				<span style="margin-left: 5px;">{{event.begin | date: 'short'}}</span>
			</p>
			<p>結束時間:
				<span style="margin-left: 5px;">{{event.end | date: 'short'}}</span>
			</p>
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-user-plus"></i>
					參加者
				</h2>
			</div>
			<div style="width: 100px; height: 100px; display: inline-block" ng-repeat="p in event.participants">
				<a ui-sref="profile({id: p._id})">
					<img class="img-responsive" ng-src="{{p.avatar.url}}" alt="{{p.name}}">
				</a>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-map-pin"></i>
					地點: 
					<a ui-sref="courts({id: event.court._id})">
						{{event.court.court}}
					</a>
				</h2>
			</div>
			<p>{{event.location}}</p>
			<div id="eventMap" style="width: 100%; height: 300px"></div>
		</div>
		<div class="col-sm-12">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>有關{{event.name}}</h2>
			</div>
			<h3>活動類型:
				<span class="label label-primary" ng-repeat="t in event.type" style="margin-right: 5px">{{t}}</span>
			</h3>
			<p style="font-size: 130%;">{{event.info}}</p>	
		</div>
		<div class="col-sm-12">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>{{event.name}}照片</h2>
			</div>
			<p ng-hide="event.pics[0].url">目前還沒有照片</p>
			<button ng-show="isCreator" class="btn btn-primary" ui-sref="thisevent.upload">
			上傳照片<i class="fa fa-camera"></i>
		</button>
			<carousel interval="5000" no-wrap="false">
				<slide ng-repeat="slide in event.pics" active="slide.active">
					<img class="img-responsive" ng-src="{{slide.url}}" style="margin:auto;">
				</slide>
			</carousel>
				
		</div>
	</div>
</div>