/* add events css starts */
.event {
  display: none;
  @media(min-width: $screen-sm-min) {
    display: block;
  }
}

.event-form-container {
	max-width: 70%;
	height: auto;
	padding: 5%; 
	margin: 10% auto;
	background-color: black;
}

.event-form {
	color:white;
	textarea {
		height: 150px;
		line-height: 150%;
		resize:vertical;
	}
	.control-label {
		color:white;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		padding: 13px;
	}
  table {
    color: black;
  }
	
}

.event-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid  $brand-primary;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.event-input:focus { border:2px solid lighten($brand-primary, 10%); }

.submitBtn {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: $brand-primary;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  &:hover { background: lighten($brand-primary, 10%); }
}

.custom-addon {
  color: $brand-primary;
  border: 2px solid $brand-primary;
  transition: all 0.3s;
  background-color: transparent;
  &:hover {
    background: white;
  }
}

/* add events css ends */
/* events this css starts */

.eventBtn {
  border: 2px solid $brand-primary;
  padding: 10px;
  border-radius:5px;
  background: transparent;
  font-size:24px;
  cursor:pointer;
  transition: all 0.3s;
  @media(min-width: $screen-sm-min) {
    width: 15%;   
  }
}

.eventBtn:hover {
  background: $brand-primary;
}

.coverPic {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 600px; 
  z-index: -10
}

