<div class="event-form-container">
	<div class="event-form">
		<h1>在{{thisCourt.court}}建立新活動</h1>
		<hr>
		<p style="margin-bottom: 50px;">
			從練球到打一場正式的比賽，享受籃球的樂趣
		</p>
		<form name="event" novalidate>
			<!-- 活動名稱 -->
			<div class="form-group">
				<label for="name" class="col-md-2 control-label">活動名稱:</label>
				<div class="col-md-10">
					<input name="name" type="text" class="event-input" placeholder="請輸入活動名稱" 
					ng-disabled="sending" ng-model="eventName" required>
					<div class="col-md-5 alert alert-danger" role="alert" ng-show="event.name.$error.required && submitted">
					<i class="fa fa-warning"></i>
					活動名稱是必要的</div>
				</div>
			</div>
			<!-- 活動類型 -->
		  	<div class="form-group">
		  		<div class="col-md-12" style="margin: 15px;">
					<label for="type" class="col-md-2 control-label">活動類型:</label>
					<span style="font-size: 18px; margin-top: 10px" ng-repeat="t in eventType track by $index">{{t.type}}
						<i class="fa fa-remove pointer" ng-click="remove($index, t)"></i>
					</span>
					<span class="alert alert-danger" style="width:100px" ng-show="tooLong">最多五種</span>

					<div class="col-md-3">
						<div class="input-group input-group-lg">
							<select name="type" id="" class="event-input form-control" ng-options="t.type disable when t.disable for t in typeOptions" ng-model="type">
								<option style="display:none" value="">可複選</option>
							</select>
							<span class="input-group-btn">
								<button class="btn btn-default custom-addon" type="button" ng-click="addType()">
									<i class="fa fa-plus"></i>
								</button>
							</span>
							
						</div>
					</div>
					<div class="col-md-5 alert alert-danger" role="alert" ng-show="!eventType[0] && submitted">
					<i class="fa fa-warning"></i>
					至少一種活動類型</div>
		  			
		  		</div>
			</div>
			<!-- 開始日期 -->
			<div class="form-group">
				<label for="beginDate" class="col-md-2 control-label">開始日期:</label>
				<div class="col-lg-4">
					<div class="input-group input-group-lg">
						<input type="date" class="form-control event-input" datepicker-popup is-open="opened1" show-button-bar="false" min-date="today" ng-model="begin" ng-disabled="sending"/>
						<span class="input-group-btn">
				          <button type="button" class="btn btn-default custom-addon" ng-click="openCal1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
					</div>
				</div>
				<label for="beginTime" class="col-lg-2 control-label">開始時間:</label>
				<div class="col-lg-4">
					<timepicker style="position: relative; top: -25px;" ng-model="begin" show-meridian="true"></timepicker>
				</div>
			</div>
			<div class="form-group">
				<label for="endDate" class="col-md-2 control-label">結束日期:</label>
				<div class="col-lg-4">
					<div class="input-group input-group-lg">
						<input type="date" class="form-control event-input" datepicker-popup is-open="opened2" show-button-bar="false" min-date="begin" ng-model="end" ng-disabled="sending"/>
						<span class="input-group-btn">
				          <button type="button" class="btn btn-default custom-addon" ng-click="openCal2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
					</div>
				</div>
				<label for="endTime" class="col-lg-2 control-label">結束時間:</label>
				<div class="col-lg-4">
					<timepicker style="position: relative; top: -25px;" ng-model="end" show-meridian="true"></timepicker>
				</div>
			</div>
			
			<textarea name="info" class="event-input" rows="3" placeholder="活動介紹" ng-disabled="sending" ng-model="eventInfo"></textarea>
			
			<button class="submitBtn" type="submit" ng-click="createEvent(event)">
				<span ng-hide="sending">建立</span>
				<span ng-show="sending">建立中</span>
				<i ng-show="sending" class="fa fa-spinner fa-pulse"></i> 
			</button>

		</form>
	</div>
</div>