<div class="insideModal">
  <span class="glyphicon glyphicon-remove pull-right pointer" ng-click="closeModal()"></span>
  <div class="row">
    <div class="col-sm-12">
      <h1>給熱血的你</h1>
      <span class="jumpingMan">
        <i class="fa fa-3x fa-child faa-bounce animated"></i>
      </span>
      <hr>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group" 
        ng-class="{'has-error': form.email.$invalid || errors.other && submitted, 
        'has-success': form.email.$valid && submitted}">
          <div class="input-group col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2 spacer-10">
            <span class="input-group-addon fa-icon-addon"><i class="fa fa-envelope fa-fw"></i></span>
            <input type="email" name="email" class="form-control" 
            ng-model="user.email" 
            placeholder="請輸入Email" 
            autofocus
            required >
          </div> 
        </div>

        <div class="form-group"
        ng-class="{'has-error': form.password.$invalid || errors.other && submitted, 
        'has-success': form.password.$valid && submitted}">
          <div class="input-group col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2 spacer-10">
            <span class="input-group-addon fa-icon-addon"><i class="fa fa-lock fa-fw"></i></span>
            <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder="請輸入密碼">
          </div>           
        </div>
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             請輸入Email跟密碼
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             請輸入有效的Email
          </p>

          <p class="help-block">{{ errors.other }}</p>
        <!-- </div> -->

        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit" ng-disabled="sending">
            <div ng-hide="sending">登入</div>
            <div class="loading-btn" ng-show="sending">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
            </div>  
          </button>
          <a class="btn btn-default btn-lg btn-register" 
          ng-click="closeModal('toSignUp')" ng-disabled="sending">
            去註冊
          </a>
        </div>
        <div class="forgotPw">
          <a ng-click="forgotPw()" ng-disabled="sending">忘記密碼？</a>
        </div>
        <div style="height: 1px; background-color: #efefef; 
          text-align: center; margin: 20px 0;">
          <span style="background-color: white; position: relative; top: -0.5em;">
            或者
          </span>
        </div>
        
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')" ng-disabled="sending">
            <i class="fa fa-facebook"></i> 
            <div ng-hide="sending">Facebook登入</div>
            <div class="loading-btn" ng-show="sending">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
            </div>  
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')" ng-disabled="sending">
            <i class="fa fa-google-plus"></i>
            <div ng-hide="sending">Google+登入</div>
            <div class="loading-btn" ng-show="sending">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
            </div>  
          </a>
          <a class="btn btn-line" href="" ng-click="loginOauth('line')" ng-disabled="sending">
            <div class="line-img">
              <div class="line-wrapper" ng-include="'./assets/images/line.svg'"></div>
            </div>
            <div class="line-message">
              <p style="margin: 0px" ng-hide="sending">
                LINE登入
              </p>
              <div class="loading-btn" ng-show="sending">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
              </div>  

            </div>
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>

