<div class="jumbotron" style="width: 100%; height: 100vh; display: table; background: rgba(0,0,0,0.8)">
	<img src="/assets/images/pic4.jpg" class="coverPic" ng-hide="team.teampic[0].url">
	<img ng-src="{{team.teampic[0].url}}" class="coverPic">
	<div style="display: table-cell; vertical-align: middle; color: white;">
	<!-- /assets/images/pic4.jpg -->
		<h1>{{team.name}}</h1>
		<p>~since {{team.founded | date: short}}~</p>
		<h2 class="primary-background"><span class="label">{{team.city}}</span></h2>	
		<p>{{team.represent}}</p>
		<div style="text-align: center">
			<div style="margin-top: 20px;">
		        	<button style="font-size:120%" class="eventBtn" ng-click="invite()">
		        	約戰
		        	<i class="fa fa-envelope"></i>
		        	</button>
		        </div>
	        <div style="margin-top: 20px;"> 	
	            <!--Upload button-->
	            <button class="mobileEditButton"
	            ng-init="isOwner=false"
	            ng-show="isOwner"
	            ng-click="uploadmode()"
	            tooltip="上傳球隊照片"
	            tooltip-trigger="mouseenter"
	            tooltip-placement="left">
	                <span class="glyphicon glyphicon-camera"></span>
	            </button>
	            <!--Edit button-->
	            <button class="mobileEditButton"
	            ng-click="editmode()"
	            ng-init="isOwner=false"
	            ng-show="isOwner || isAdmin"
	            tooltip="編輯球隊資訊"
	            tooltip-trigger="mouseenter"
	            tooltip-placement="right">
	                <span class="glyphicon glyphicon-pencil"></span>
	            </button>
	        </div>
	        <div class="fbContainer">
		        <div class="fb-like" onrender="fbLikeRendered()"
				  data-href="https://keepballin.com/courts/{{currentcourt._id}}" 
				  data-layout="button_count" 
				  data-action="like"
				  data-image="http://s3-ap-northeast-1.amazonaws.com/keepballin/pictures/assets/preview.png" 
				  data-show-faces="true" 
				  data-share="true"></div>
	        </div>
        </div>
	</div>
</div>
<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px;">
	<div class="row">
		<div class="col-sm-9">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>有關{{team.name}}</h2>
			</div>
			<p style="font-size: 130%;">{{team.intro}}</p>	
		</div>
		<div class="col-sm-3">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>聯絡方式</h2>
			</div>
			<div ng-show="team.contactperson.show || team.contactperson.line">
				<div ng-hide="show">
					<p style="font-size: 130%;" ng-show="team.contactperson.line">LineID: {{team.contactperson.line | limitTo: 3}}******</p>	
					<p ng-show="team.contactperson.show" style="font-size: 130%;">Tel: {{team.contactperson.number | limitTo: 4}}******</p>
					<button class="btn btn-primary" ng-click="displayInfo()">顯示完整資料</button>		
				</div>
				<div ng-show="show">
					<p style="font-size: 130%;" ng-show="team.contactperson.line">LineID: {{team.contactperson.line}}</p>	
					<p ng-show="team.contactperson.show" style="font-size: 130%;">Tel: {{team.contactperson.number}}</p>
				</div>
			</div>
			<div ng-show="!team.contactperson.show && !team.contactperson.line">
				請透過約戰功能聯絡我們
			</div>

		</div>
		<div class="col-sm-12">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>{{team.name}}成員</h2>
			</div>
			<div style="text-align: left; margin-bottom: 20px;" ng-show="team.members[0]">
				<h4>
					<i class="fa fa-facebook-square"></i>
					透過FB傳送功能邀請隊友來確認身份
				</h4>
		        <div class="fb-send" onrender="fbSendRendered()"
				  data-href="https://keepballin.com/thisteam/{{team._id}}" 
				  data-layout="button_count" 
				  data-action="send"
				  data-image="http://s3-ap-northeast-1.amazonaws.com/keepballin/pictures/assets/preview.png" 
				  data-show-faces="true" 
				  data-share="true"></div>
		        	
			</div>
			<div class="col-sm-12">
				<div class="col-sm-3" ng-repeat="m in team.members track by $index">
					<div class="thumbnail">
					  <div class="caption">
					    <h3 ng-hide="m.account.name">{{m.name}}</h3>
					    <h3 ng-show="m.account.name">
					    	<a ui-sref="profile({id: m.account._id})">{{m.name}}</a>
					    </h3>
					    <p>{{m.position}}</p>
					    <div class="text-muted">
							<p ng-show="!m.account">等待{{m.name}}確認</p>
							<p ng-show="m.account && !m.confirmed">等待球隊管理員確認</p>
							<p ng-show="m.confirmed">已確認</p>
					    </div>
					    
					    <hr>
					  </div>
					
					  <img ng-hide="m.account.avatar.url" ng-src="{{picPlaceholder($index)}}" alt="basketball player picture placeholder" style="height: 100px;">
					  <div class="caption">
					  <img ng-show="m.account.avatar.url" ng-src="{{m.account.avatar.url}}" alt="basketball player picture placeholder" style="height: 100px;">
					  <div class="caption">
					  	<p>
					  		<a class="btn btn-primary" role="button" ng-click="isMe($index)" ng-hide="m.account">我就是{{m.name}}</a>
					  		<a class="btn btn-primary" role="button" ng-show="m.account && !m.confirmed && !isOwner" ng-click="waiting($index)">等待確認中</a>
					  		<a class="btn btn-primary" role="button" ng-show="m.account && !m.confirmed && isOwner" ng-click="confirmId($index)">確認隊友身份</a>

					  	</p>
					  </div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-sm-9">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>代表</h2>
			</div>
			<p style="font-size: 130%;" ng-show="team.school.name">學校: {{team.school.name}}</p>
			<p style="font-size: 130%;" ng-show="team.school.major">系: {{team.school.major}}</p>
			<p style="font-size: 130%;" ng-show="team.school.class">班: {{team.school.class}}</p>
			<p style="font-size: 130%;" ng-show="team.company.name">公司: {{team.company.name}}</p>
			<p style="font-size: 130%;" ng-show="team.company.department">部門: {{team.company.department}}</p>
			<p style="font-size: 130%;" ng-show="team.club">社團: {{team.club.name}}</p>
			<p style="font-size: 130%;" ng-show="team.private">私人球隊</p>
			<p style="font-size: 130%;" ng-show="team.other">{{team.other}}</p>	
		</div>
		<div class="col-sm-3">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>主場</h2>
			</div>
			<a ui-sref="thiscourt({id: team.location.court})" ng-show="team.location.court">
				<p style="font-size: 130%;">{{team.location.name}}</p>	
			</a>
			<p style="font-size: 130%;" ng-hide="team.location.court">{{team.location.name}}</p>	
		</div>
		<!-- Calendar from here -->
		<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>行事曆</h2>
		</div>
		<div class="col-sm-4" style="border: 1px black solid; padding: 20px">
			<form name="eventCreation" id="addEvent" ng-show="addEvent">
				<div class="form-group">
					<label for="eventName" class="control-label">活動標題</label>
					<input type="text" class="form-control event-input" style="color: black" ng-model="eventTitle" placeholder="*必要">
				</div>
				<div class="form-group">
					<label for="eventLocation" class="control-label">活動地點</label>
					<input type="text" class="form-control event-input" style="color: black" ng-model="eventLocation" typeahead="(court.court || court.address) for court in courts | filter:$viewValue | limitTo:8" typeahead-on-select="gotCourt($item)">
				</div>
				<div class="form-group">
					<label for="startDate" class="control-label">開始日期:</label>
					<div class="input-group">
						<input type="date" class="form-control event-input" datepicker-popup is-open="opened1" show-button-bar="false" min-date="today" ng-model="start" ng-disabled="sending" style=" height: 35px; color: black; font-size: 12px;"/>
						<span class="input-group-btn">
				          <button type="button" class="btn btn-default custom-addon" ng-click="openCal1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
					</div>
					<div class="checkbox">
						<label for="allDay">
							<input type="checkbox" ng-model="allDay">一整天
						</label>
					</div>
				</div>
				<div class="form-group" ng-hide="allDay">
					<label for="startTime" class="control-label">開始時間:</label>
					<timepicker ng-model="start" show-meridian="true"></timepicker>
					<label for="endTime" class="control-label">結束時間:</label>
					<timepicker ng-model="end" show-meridian="true"></timepicker>
				</div>
				<div class="form-group" style="margin-bottom: 20px">
					<label for="endDate" class="control-label">結束日期:</label>
					<div class="input-group">
						<input type="date" class="form-control event-input" datepicker-popup is-open="opened2" show-button-bar="false" min-date="start" ng-model="end" ng-disabled="sending" style=" height: 35px; color: black; font-size: 12px;"/>
						<span class="input-group-btn">
				          <button type="button" class="btn btn-default custom-addon" ng-click="openCal2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
					</div>
					
				</div>
				<a class="btn btn-primary" ng-click="toggleAdd()">
					回到活動清單
				</a>	
				<button class="pull-right addEventBtn" ng-click="submitEvent(eventCreation)" ng-disabled="updating">
					<i ng-hide="updating" class="fa fa-plus"></i>
					<i ng-show="updating" class="fa fa-spinner fa-pulse"></i>
				</button> 
			</form>
			<ul class="list-group" ng-hide="addEvent">
				<li class="list-group-item pointer active" ng-click="toggleAdd()" style="text-align: center" ng-show="checkUser()">新增活動
					<i class="fa fa-plus"></i>
				</li>
			</ul>
			<ul class="list-group" ng-hide="addEvent" style="height: 450px; overflow-y: scroll">
				<li ng-show="!events[0]">目前還沒有活動</li>
				<li class="list-group-item" ng-repeat="e in events | orderBy: 'start' track by e._id" ng-class="{active: e.active}">
				<i class="fa fa-folder-open-o fa-2x pointer" ng-click="openEventModal(e._id)"></i>
				{{e.title}}
				<i class="fa fa-remove pull-right pointer" ng-click="removeEvent(e)" ng-show="checkUser()"></i>
				{{e.start | date: 'M/d'}}
				<span ng-hide="e.start == e.end">~ {{e.end | date: 'dd'}}</span>
				<div>
					<p>{{e.location}}</p>
				</div>
				</li>
			</ul>
		</div>
		<div class="col-sm-8">
			<div style="margin:20px">
				<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="eventCal"></div>
				<span ng-show="updating">更新中
					<i class="fa fa-spinner fa-pulse"></i>
				</span>
				<span ng-hide="updating">已更新
					<i class="fa fa-check-circle" style="color: green"></i>
				</span>
			</div>
		</div>
		<div class="col-sm-12" style="text-align: center">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>{{team.name}}照片</h2>
			</div>
			<p ng-hide="team.teampic[0].url">目前還沒有照片</p>
			<button ng-show="isOwner" class="btn btn-primary" ng-click="openGallery()">
			管理照片<i class="fa fa-camera"></i>
			</button>
			<carousel interval="5000" no-wrap="false">
				<slide ng-repeat="slide in team.teampic" active="slide.active">
					<img class="img-responsive" ng-src="{{slide.url}}" style="margin:auto;">
				</slide>
			</carousel>
				
		</div>
	</div>
</div>
<!-- Editing page -->
<div class="editPage col-lg-12" 
ng-include="'app/team/temp/edit.page.html'" 
ng-init="edit=false" ng-show="edit" 
ng-click="editmode()"></div>
<!-- Pictures upload page -->
<div class="editPage col-lg-12" 
ng-include="'app/team/temp/upload.page.html'" 
ng-init="upload=false" ng-show="upload" 
ng-click="uploadmode()"
></div>