<span class="pull-right pointer" style="margin: 3px" ng-click="close()">
<i class="fa fa-2x fa-remove"></i>
</span>
<div class="row" style="padding: 30px">
	<span ng-hide="team.teampic[0]">目前還沒有照片</span>
  <div class="col-sm-3" ng-repeat="pic in team.teampic track by $index">
    <div class="thumbnail">
      <img ng-src="{{pic.url}}" alt="team pictures">
      <div class="caption">
        <p>
        	<a ng-show="isOwner" ng-click="removePic(pic)" class="btn btn-primary" role="button">刪除</a>
        </p>
      </div>
    </div>
  </div>
</div>