
<div class="form-inline text-center">
	<div class="form-group">
	    <label for="captain" class="control-label">隊長</label>
	    <input type="text" ng-model="formData.captain.name" placeholder="請輸入隊長姓名" class="form-control" ng-blur="addMember(formData.captain.name, '隊長')">
	</div>
	<div class="form-group">
	    <label for="coach" class="control-label">教練</label>
	    <input type="text" ng-model="formData.coach.name" placeholder="請輸入教練姓名" class="form-control" ng-blur="addMember(formData.coach.name, '教練')">
	</div>
	<div class="form-group">
	    <label for="manager" class="control-label">球隊經理</label>
	    <input type="text" ng-model="formData.manager.name" placeholder="請輸入球隊經理姓名" class="form-control" ng-blur="addMember(formData.manager.name, '球隊經理')">
	</div>
</div>
<div class="form-inline text-center">
	<div class="form-group">
	    <label for="intro" class="control-label">其他球員</label>
	    <div class="input-group">
	    	<input type="text" ng-model="person" placeholder="隊友姓名"class="form-control">
	    	<select ng-options="position for position in positions" ng-model="position" class="form-control">
	    		 <option value="">-- 擔任的角色 --</option>
	    	</select>
	    	<span class="input-group-btn">
	    		<button type="button" class="btn" ng-click="addMember(person, position)">
					<span class="glyphicon glyphicon-plus"></span>
	    		</button>
	    	</span>
	    </div>
	    
	</div>
	<div >
		<ul class="list-group">
			<li ng-repeat="member in formData.members track by $index" class="list-group-item">	
				<div class="pull-right pointer" style="color: black" ng-click="removeMember($index)">
					<i class="fa fa-remove"></i>
				</div>
				<div class="imageWords">
					<div class="previewBox">
						<img src="/assets/images/avatar.png" alt="avatar placeholder">
				    </div>
				    <h3>&nbsp{{member.name}}</h3>
				    <p>&nbsp{{member.position}}</p>
				</div>
		  </li>
		</ul>
		<p>總共{{formData.members.length}}個隊員</p>

	</div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ng-click="moveTo(myForm, 'represent')" class="btn btn-block btn-primary">
    下一步 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>