<div class="form-inline text-center">
	<div class="form-group">
	    <label for="teamname" class="control-label">球隊名稱</label>
	    <input type="text" class="form-control" name="teamname" ng-model="formData.name" placeholder="*必要" autofocus tooltip="獨一無二的隊名"required>
	</div>
	<div class="form-group">
	    <label for="founded" class="control-label">成立日期</label>
	    <div class="input-group">
		    <input type="date" class="form-control" datepicker-popup ng-model="formData.founded" is-open="opened" show-button-bar="false" ng-click="open($event)">
		    <span class="input-group-btn">
	          <button type="button" class="btn btn-default custom-addon" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	        </span>
	    </div>
	</div>
	<div class="form-group">
	    <label for="teampic" class="control-label">球隊照片</label>
	    <div class="input-group">
		    <div ng-hide="load" type="file" class="form-control teampic" name="teampic" ng-model="picture" ngf-select="upload(picture)">選檔案</div>
		    <img ng-src="{{preview}}" class="img-responsive">
		    <span class="input-group-addon" ng-show="load">
			    <div class="loaderWrapper">
		        	<div class="loader">Loading</div>
		      	</div>
		    </span>
	    </div>
	</div>
</div>
<div class="form-group text-center" ng-class="{'has-error': noResults}">
    <label for="contactperson">聯絡人</label>
    <div class="input-group">
		<span class="input-group-addon">
			<input type="checkbox" ng-model="me" ng-click="changeToMe(me)">
		    我就是聯絡人
		</span>
	    <input type="text" name="contactperson" ng-model="formData.contactperson.name" placeholder="*必要" class="form-control" ng-disabled="disableContactInput" typeahead="user.name for user in users | filter:$viewValue | limitTo:8" typeahead-on-select="selectPerson($item)" tooltip="打字後出現在下面的名字是已註冊的用戶" required>
    </div>
</div>
<div class="form-group text-center">
    <label for="email">聯絡Email</label>
    <input type="email" name="contactemail" class="form-control" ng-model="formData.contactperson.email" placeholder="*必要" tooltip="Email不會公開顯示，球友透過約戰功能寄到這個信箱" required/>	 
</div>
<div class="form-group text-center">
    <label for="number">聯絡電話</label>
    <div class="input-group">
	    <span class="input-group-addon" tooltip="公開給已註冊的會員" tooltip-trigger="mouseover">
			<input type="checkbox" ng-model="yes" ng-click="givePermission(yes)">
		    公開
		</span>
	    <input type="number" name="contactnumber" minlength="3" class="form-control" ng-model="formData.contactperson.number" placeholder="*必要" ng-minlength="8" required/>	
    </div>
    <div ng-show="myForm.contactnumber.$error.minlength" class="alert alert-warning">電話號碼至少八碼</div>
</div>
<div class="form-group text-center">
    <label for="line">Line ID</label>
	<input type="text" name="line" class="form-control" ng-model="formData.contactperson.line" tooltip="方便球友聯絡的Line ID"/>
</div>
<div class="form-group text-center">
    <label for="intro">球隊簡介</label>
    <textarea type="text" class="form-control" name="intro" ng-model="formData.intro"></textarea>
</div>
<div ng-show="myForm.$error.required && toMember" class="alert alert-warning">必要資訊未輸入
	<span ng-show="myForm.teamname.$error.required">＊隊名</span>
	<span ng-show="myForm.contactperson.$error.required">＊聯絡人</span>
	<span ng-show="myForm.contactemail.$error.required">＊聯絡Email</span>
	<span ng-show="myForm.contactnumber.$error.required">＊聯絡電話</span>
</div>
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ng-click="moveTo(myForm, 'member')" class="btn btn-block btn-primary">
    下一步 <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>