<footer id="footer">
  <div class="container">
  	<div class="brand">
		<p>KeepBallin<sup>&copy;</sup>2015</p>
	  	<form action="http://www.google.com.tw" id="cse-search-box">
		    <div>
		      <input type="hidden" name="cx" value="partner-pub-2566502239566951:3639531624" />
		      <input type="hidden" name="ie" value="UTF-8" />
		      <input type="text" name="q" size="55" />
		      <input type="submit" name="sa" value="&#x641c;&#x5c0b;" />
		    </div>
	  	</form>
		<script type="text/javascript" src="https://www.google.com.tw/coop/cse/brand?form=cse-search-box&amp;lang=zh-TW"></script> 
  	</div>
  </div>
</footer>