<div class="container chatGroupContainer">
	<div class="page-header chat-header">
		<h1>{{room.city}}
			<span class="room-detail">
				<span class="label label-success" style="font-size: 50%;">{{room.usersOnline.length}}人在線上</span>
				<span ng-show="courts[0]" class="label label-primary" style="font-size: 50%;">{{courts.length}}個球場</span>
				<small counter="timeFormat"></small>
			</span>
		</h1>	
	</div>
	<div class="col-sm-6" style="height: 70vh">
		<ul id="chatThread" class="list-group chatThreads">
			<div id="chatContent">
				<div class="loading" ng-show="loading">
					<i class="fa fa-2x fa-spinner fa-pulse"></i>
				</div>
				<li class="list-group-item" ng-repeat="m in room.messages | orderBy: 'date'">
					<h4 class="list-group-heading">
						<a ui-sref="profile({id: m.by._id})">
							{{m.by.name}}
						</a>
						<small>{{m.date | relativeDate}}</small>
					</h4>
					<p class="list-group-item-text">
						{{m.message}}
					</p>
				</li>
			</div>
		</ul>
		<form ng-submit="sendMessage()">
			<div class="input-group">
				<input id="chatBox" class="chatBox form-control" type="text" name="message" placeholder="我想說..." ng-model="message" autofocus required id="talkBox">
				<div class="input-group-btn">
					<input ng-disabled="!message" class="btn btn-primary" type="submit" value="送出" />
				</div>
			</div>
		</form>	
	</div>
	<div class="col-sm-6" style="height: 70vh; text-align: center;">
		<h2 class="pointer" ng-click="openInviter(openInvite)">快速約戰
			<i class="fa fa-plus primaryColor" ng-hide="openInvite"></i>
			<i class="fa fa-minus primaryColor" ng-show="openInvite"></i>
		</h2>
		<form name="invite" class="form-horizontal" ng-submit="sendInvite(invite)" novalidate collapse="!openInvite">
			<div class="form-group">
				<label for="court" class="control-label col-sm-3">地點:</label>
				<div class="col-sm-9">
					<input class="form-control" name="court" type="text" ng-model="court" placeholder="哪裡" typeahead="court.court for court in courts | filter:$viewValue | limitTo:8" ng-blur="findCourtId()" required>
					<div class="alert alert-danger" role="alert" ng-show="invite.court.$error.required && submitted">
					<i class="fa fa-warning"></i>
					請輸入地點</div>
				</div>
			</div>
			<div class="form-group">
				<label for="people" class="control-label col-sm-3">需要人數:</label>
				<div class="col-sm-9">
					<input class="form-control" name="people" type="number" placeholder="缺幾人" ng-model="people" min="1" required>
					<div class="alert alert-danger" role="alert" ng-show="invite.people.$error.required && submitted">
					<i class="fa fa-warning"></i>
					請輸入人數</div>	
					<div class="alert alert-danger" role="alert" ng-show="invite.people.$error.min">
						<i class="fa fa-warning"></i>
						最小人數為:1
				     </div>			
				</div>
			</div>
			<div class="form-group" ng-hide="allDay">
				<div class="col-sm-6">
					<label for="startTime" class="control-label">開始時間:</label>
					<timepicker ng-model="start" show-meridian="true" ng-change="convertToMoment('start')"></timepicker>
				</div>
				<div class="col-sm-6">
					<label for="endTime" class="control-label">結束時間:</label>
					<timepicker ng-model="end" show-meridian="true" ng-change="convertToMoment('end')"></timepicker>
				</div>
			</div>
			<div class="btn-group">
		        <label class="btn btn-primary" ng-model="chosenDate" btn-radio="'Today'">今天</label>
		        <label class="btn btn-primary" ng-model="chosenDate" btn-radio="'Tomorrow'">明天</label>
		        <label class="btn btn-primary" ng-model="chosenDate" btn-radio="'dayAfterTomorrow'">後天</label>
				<button type="button" class="btn btn-primary" ng-click="open($event)" datepicker-popup ng-model="dt" is-open="opened" min-date="now"><i class="glyphicon glyphicon-calendar"></i></button>
				<span style="margin-left: 2px;" ng-show="choseCustom">{{dt | date : 'MM/dd/yyyy'}}</span>
				<span ng-show="dateNotChosen">請選擇日期</span>
		    </div>
			<button class="pull-right btn btn-primary" type="submit">
				<p ng-hide="sending" style="margin: 0px">揪人</p>
				<div class="spinner" style="margin: 0px; height: 20px; width: 30px;" ng-show="sending">
				  <div class="rect1" style="background-color: white;"></div>
				  <div class="rect2" style="background-color: white;"></div>
				  <div class="rect3" style="background-color: white;"></div>
				  <div class="rect4" style="background-color: white;"></div>
				</div>
			</button>
		</form>
		<div class="inviteBox" ng-hide="openInvite">
			<div class="inviteThreads" ng-show="showCurrent">
				<div class="currentInviteInstruction" ng-hide="currentInvites[0]">
					<div>
						<p>
							<i class="fa fa-arrow-circle-o-up faa-bounce animated"></i>
							自己揪團
						</p>
						<p>或</p>
						<p>
							看未來的活動
							<i class="fa fa-arrow-circle-o-down"></i>
						</p>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="i in currentInvites | orderBy: 'endTime'">
						<a class="pull-right" ui-sref="profile({id: i.creator._id})">主辦人:{{i.creator.name}}</a>
						<h4 class="list-group-heading" ng-show="i.court">
							<a ui-sref="thiscourt({id: i.court})">
								{{i.location}}
							</a>
							<small>{{i.dateCreated | relativeDate}}發佈</small>
						</h4>
						<h4 class="list-group-heading" ng-hide="i.court">
							{{i.location}}
							<small>{{i.dateCreated | relativeDate}}發佈</small>
						</h4>
						{{i.endTime | date: 'shortTime'}}結束
						<p ng-hide="i.peopleNeed <= 0">缺:{{i.peopleNeed}}人</p>
						<p ng-show="i.peopleNeed <= 0">{{i.participants.length}}人</p>
						<span class="label label-primary pull-right countDownLabel">
							<!-- count down -->
							<timer end-time="i.endTime">{{days}} 天 {{hours}}小時 {{minutes}} 分鐘 {{seconds}}秒後結束</timer>
						</span>
					</li>
				</ul>
			</div>
			<div class="inviteThreads" ng-show="showFuture">
				<div class="currentInviteInstruction" ng-hide="futureInvites[0]">
					<div>
						<p>
							<i class="fa fa-arrow-circle-o-up faa-bounce animated"></i>
							自己揪團
						</p>
						<p>或</p>
						<p>
							看現在的活動
							<i class="fa fa-arrow-circle-o-down"></i>
						</p>
					</div>
				</div>
				<ul class="list-group" ng-repeat="invite in futureInvites | orderBy: 'startTime' | groupBy: 'startDate' | toArray:true">
					<strong>{{invite.$key}}</strong>
					<li class="list-group-item" ng-repeat="i in invite | orderBy: 'startTime'">
						<a class="countDownLabel pull-right" ui-sref="profile({id: i.creator._id})" style="margin: 5px;">主辦人:{{i.creator.name}}</a>
						<button class="btn btn-success pull-right" style="font-size: 120%;" ng-click="joinInvite(i)" ng-hide="switchMinus || isParticipant(i)">
							<i class="fa fa-plus"></i>
							<span style="font-size: 120%">
								<strong>1</strong>
							</span>
						</button>
						<button class="btn btn-danger pull-right" style="font-size: 120%;" ng-click="leaveInvite(i)" ng-show="switchMinus || isParticipant(i)">
							<i class="fa fa-minus"></i>
							<span style="font-size: 120%">
								<strong>1</strong>
							</span>
						</button>
						<h4 class="list-group-heading" ng-show="i.court">
							<a ui-sref="thiscourt({id: i.court})">
								{{i.location}}
							</a>
							<small>{{i.dateCreated | relativeDate}}發佈</small>
						</h4>
						<h4 class="list-group-heading" ng-hide="i.court">
							{{i.location}}
							<small>{{i.dateCreated | relativeDate}}發佈</small>
						</h4>

						{{i.startTime | date: 'shortTime'}}~{{i.endTime | date: 'shortTime'}}
						<p ng-hide="i.peopleNeed <= 0">缺:{{i.peopleNeed}}人</p>
						<p ng-show="i.peopleNeed <= 0">{{i.participants.length}}人</p>
					</li>
				</ul>
			</div>
			<!-- Choosing the present or future -->
			<div class="btn-group" style="margin-top: 10px;">
		        <label class="btn btn-primary" ng-model="nowOrFuture" btn-radio="'now'">現在</label>
		        <label class="btn btn-primary" ng-model="nowOrFuture" btn-radio="'future'">未來</label>
		    </div>
		</div>
	</div>
</div>