<div class="modal-header">
    <h3 class="modal-title">{{invite.creator.name}}, 您好</h3>
</div>
<div class="modal-body">
    <form name="edited" class="form-horizontal" ng-submit="editInvite(edited)" novalidate>
        <div class="form-group">
            <label for="court" class="control-label col-sm-3">地點:</label>
            <div class="col-sm-9">
                <input class="form-control" name="court" type="text" ng-model="invite.location" placeholder="哪裡" typeahead="court.court for court in courts | filter:$viewValue | limitTo:8" ng-blur="findCourtId()" required>
                <div class="alert alert-danger" role="alert" ng-show="edited.court.$error.required && submitted">
                <i class="fa fa-warning"></i>
                請輸入地點</div>
            </div>
        </div>
        <div class="form-group">
            <label for="people" class="control-label col-sm-3">需要人數:</label>
            <div class="col-sm-9">
                <input class="form-control" name="people" type="number" placeholder="缺幾人" ng-model="invite.peopleNeed" min="1" required>
                <div class="alert alert-danger" role="alert" ng-show="edited.people.$error.required && submitted">
                <i class="fa fa-warning"></i>
                請輸入人數</div> 
                <div class="alert alert-danger" role="alert" ng-show="edited.people.$error.min">
                    <i class="fa fa-warning"></i>
                    最小人數為:1
                 </div>         
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="startTime" class="control-label">開始時間:</label>
                <input class="form-control" type="datetime-local" ng-model="invite.startTime" placeholder="yyyy-MM-ddTHH:mm"/>
            </div>
            <div class="col-sm-6">
                <label for="endTime" class="control-label">結束時間:</label>
                <input class="form-control" type="datetime-local" ng-model="invite.endTime" placeholder="yyyy-MM-ddTHH:mm"/>
            </div>
        </div>
        <button class="pull-right btn btn-primary" type="submit">
            <p ng-hide="sending" style="margin: 0px">儲存</p>
            <div class="spinner" style="margin: 0px; height: 20px; width: 30px;" ng-show="sending">
              <div class="rect1" style="background-color: white;"></div>
              <div class="rect2" style="background-color: white;"></div>
              <div class="rect3" style="background-color: white;"></div>
              <div class="rect4" style="background-color: white;"></div>
            </div>
        </button>
    </form>
</div>