<div class="container teammateBg">
	<div class="col-sm-6" style="background-color: white">
		<div class="globalContainer">
		<div class="form-control district-options-btn" ng-click="displayDistrict()" ng-class="{
			'btn-primary': !showDistrict, 'btn-default': showDistrict
		}">
		<p ng-hide="showDistrict">
			進入各區群組
			<i class="fa fa-plus"></i>
		</p>
		<p ng-show="showDistrict">
			縮小
			<i class="fa fa-minus"></i>
		</p>
		</div>
		<div class="form-inline text-center district-options" ng-show="showDistrict">
			<div class="form-group">
			    <!-- <label for="district" class="control-label">區域</label> -->
			   	<select ng-options="room.district for room in rooms | unique: 'district'" ng-model="room" class="form-control">
		    		 <option value="">-- 選擇區域 --</option>
		    	</select>
			</div>
			<div class="form-group" ng-show="room">
			    <!-- <label for="city" class="control-label">城市</label> -->
			   	<select ng-options="room.city for room in rooms | filter: room.district" ng-model="city" class="form-control">
		    		 <option value="">-- 選擇城市 --</option>
		    	</select>
			</div>
			<button class="form-control btn-primary" ng-click="enterRoom(city)">進入群組</button>
		</div>
			<ul id="globalThread" class="list-group generalThreads">
				<div id="globalContent">
					<div class="loading" ng-show="loading">
						<i class="fa fa-2x fa-spinner fa-pulse"></i>
					</div>
					<li class="list-group-item" ng-repeat="m in global.messages | orderBy: 'date'">
						<h4 class="list-group-heading">
							<a>
								{{m.by}}
							</a>
							<small>{{m.date | relativeDate}}</small>
						</h4>
						<p class="list-group-item-text">
							{{m.message}}
						</p>

					</li>
				</div>
			</ul>
		<form id="messageFunctionBox" ng-submit="sendMessage()" ng-show="hasName">
			<div class="input-group">
				<input id="messageBox" class="chatBox form-control" type="text" name="message" ng-model="message" required>
				<div class="input-group-btn">
					<input id="globalMessageSendBtn" ng-disabled="!message" class="btn btn-primary" type="submit" value="送出" />
				</div>
			</div>
		</form>
		</div>
	</div>	
	<div class="col-sm-6 list-of-rooms">
		<div class="page-header">
			<h2>進入各區建立活動</h2>
			<h3>
				<!-- <span class="label label-success">{{numberOfUsers}}
					<span class="desktop">人在線上</span>
					<span class="mobile"><i class="fa fa-user"></i></span>
				</span> -->
				<span class="label label-warning" ng-show="numberOfUsers">{{totalInvites}}
					<span class="desktop">個活動</span>
					<span class="mobile"><i class="fa fa-bell"></i></span>
				</span>
			</h3>
		</div>
		<div class="list-of-rooms-item">
			<ul class="list-group" ng-repeat="room in rooms | groupBy: 'district' | toArray:true">
				{{room.$key}}
				<li class="list-group-item pointer"
				ng-class="{active: hover}"
				ng-mouseenter="hover = true"
				ng-mouseleave="hover = false" 
				ng-repeat="r in room | orderBy: '-usersOnline.length'"
				ng-click="enterRoom(r)">
					<span class="badge primaryBg" ng-repeat="i in invites" ng-show="r.city === i._id.city">活動:{{i.count}}</span>
					<!-- <span class="badge" ng-class="{'greenBg': r.usersOnline.length > 0}">{{r.usersOnline.length}}人</span> -->
					<h4>{{r.city}}</h4>
					<span ng-show="isAdmin()">
						<i class="fa fa-trash pointer" ng-click="removeRoom(r); $event.stopPropagation();"></i>
						<i class="fa fa-pencil pointer pull-right" ng-click="editRoom(r); $event.stopPropagation();"></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- Only for admdin -->
	<div ng-show="isAdmin()">
		<div class="page-header">
			<h2>增加聊天室</h2>
		</div>
		<div class="form-inline text-center">
			<div class="form-group">
			    <label for="district" class="control-label">區域</label>
			   	<select ng-options="district for district in districts" ng-model="newInfo.district" class="form-control" ng-change="getCities(newInfo.district)">
		    		 <option value="">-- 選擇區域 --</option>
		    	</select>
			</div>
			<div class="form-group" ng-show="cities[0]">
			    <label for="city" class="control-label">城市</label>
			   	<select ng-options="city for city in cities" ng-model="newInfo.city" class="form-control">
		    		 <option value="">-- 選擇城市 --</option>
		    	</select>
			</div>
			<button class="form-control" ng-click="addRoom()">增加群組</button>
		</div>
	</div>
	<!-- <div class="editRoomBox" ng-show="isAdmin()">
		<textarea class="form-control" name="editingSpace" cols="30" rows="10" ng-model="roomBeingEdited"></textarea>
		<button class="btn btn-primary" ng-click="saveRoom(roomBeingEdited)">儲存</button>
	</div> -->
	
</div>
<form class="sendPublic" ng-submit="joinGlobal(name)" ng-hide="hasName">
	<div class="usernameInputGroup">
		<h2>請輸入你的名字</h2>
		<input id="userName" class="usernameInput" type="text" name="name" ng-model="name" required>
		<br>
		<p ng-show="nameTaken">已有使用者使用此名稱
		<a ui-sref="login">登入?</a>
		</p>
		<br>
		<input ng-disabled="!name" class="btn btn-primary" type="submit" value="進入" />
	</div>
</form>
<adsense ad-client="ca-pub-2566502239566951" ad-slot="5063936427" inline-style="display:inline-block;width:728px;height:90px"></adsense>