<div class="container teammateBg">
	<div class="teammateBox">
		<!-- Only for admdin -->
		<div ng-show="isAdmin()">
			<div class="page-header">
				<h2>增加聊天室</h2>
			</div>
			<div class="form-inline text-center">
				<div class="form-group">
				    <label for="district" class="control-label">區域</label>
				   	<select ng-options="district for district in districts" ng-model="newInfo.district" class="form-control" ng-change="getCities(newInfo.district)">
			    		 <option value="">-- 選擇區域 --</option>
			    	</select>
				</div>
				<div class="form-group" ng-show="cities[0]">
				    <label for="city" class="control-label">城市</label>
				   	<select ng-options="city for city in cities" ng-model="newInfo.city" class="form-control">
			    		 <option value="">-- 選擇城市 --</option>
			    	</select>
				</div>
				<button class="form-control" ng-click="addRoom()">增加群組</button>
			</div>
		</div>
		<div class="page-header">
			<h2>找哪裡的球友？
				<span class="label label-success" ng-show="numberOfUsers">{{numberOfUsers}}
					<span class="desktop">人在線上</span>
					<span class="mobile"><i class="fa fa-user"></i></span>
				</span>
				<span class="label label-warning" ng-show="numberOfUsers">{{totalInvites}}
					<span class="desktop">個活動</span>
					<span class="mobile"><i class="fa fa-bell"></i></span>
				</span>
			</h2>
		</div>
		<!-- <div class="form-inline text-center">
			<div class="form-group">
			    <label for="district" class="control-label">區域</label>
			   	<select ng-options="room.district for room in rooms | unique: 'district'" ng-model="room" class="form-control">
		    		 <option value="">-- 選擇區域 --</option>
		    	</select>
			</div>
			<div class="form-group" ng-show="room">
			    <label for="city" class="control-label">城市</label>
			   	<select ng-options="room.city for room in rooms | filter: room.district" ng-model="city" class="form-control">
		    		 <option value="">-- 選擇城市 --</option>
		    	</select>
			</div>
			<button class="form-control" ng-click="enterRoom(city)">進入群組</button>
		</div> -->
		<div style="height: 500px; overflow: scroll;">
			<ul class="list-group" ng-repeat="room in rooms | groupBy: 'district' | toArray:true">
				{{room.$key}}
				<li class="list-group-item pointer"
				ng-class="{active: hover}"
				ng-mouseenter="hover = true"
				ng-mouseleave="hover = false" 
				ng-repeat="r in room | orderBy: '-usersOnline.length'"
				ng-click="enterRoom(r)">
					<span class="badge primaryBg" ng-repeat="i in invites" ng-show="r.city === i._id.city">活動:{{i.count}}</span>
					<span class="badge" ng-class="{'greenBg': r.usersOnline.length > 0}">{{r.usersOnline.length}}人</span>
					<h4>{{r.city}}</h4>
					<span ng-show="isAdmin()">
						<i class="fa fa-trash pointer" ng-click="removeRoom(r); $event.stopPropagation();"></i>
						<i class="fa fa-pencil pointer pull-right" ng-click="editRoom(r); $event.stopPropagation();"></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="editRoomBox" ng-show="isAdmin()">
		<textarea class="form-control" name="editingSpace" cols="30" rows="10" ng-model="roomBeingEdited"></textarea>
		<button class="btn btn-primary" ng-click="saveRoom(roomBeingEdited)">儲存</button>
	</div>
	
</div>