.contact-form-container {
	max-width: 70%;
	height: auto;
	padding: 5%; 
	margin: 10% auto;
	background-color: black;
}

.contact-form {
	color:white;
	textarea {
		height: 150px;
		line-height: 150%;
		resize:vertical;
	}
	.control-label {
		color:white;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:500;
		font-size: 18px;
		padding: 13px;
	}
	
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid  $brand-primary;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid lighten($brand-primary, 10%); }

.submitBtn {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: $brand-primary;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  &:hover { background: lighten($brand-primary, 10%); }
}

/*[type="submit"]:hover { background:#CC4949; }*/

