.contact-form-container {
  @media(min-width: $screen-sm-min) {
    max-width: 70%;
  	margin: 10% auto;
  }
  margin-top: 10%; 
  height: auto;
  padding: 5%; 
	background-color: black;
}

.contact-form {
	color:white;
	textarea {
    width: 100%;
    @media(min-width: $screen-sm-min) {
  		height: 150px;
  		line-height: 150%;
  		resize:vertical;
    }
	}
	.control-label {
    @media(min-width: $screen-sm-min) {
  		font-weight:500;
  		font-size: 18px;
  		padding: 13px;
    }
    color:white;
    font-family: Helvetica, Arial, sans-serif;
	}
	
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: transparent;
  border:2px solid  $brand-primary;
  transition: all 0.3s;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  padding: 13px;
  
  @media(min-width: $screen-sm-min) {
    font-weight:500;
    font-size: 18px;
    line-height: 22px;

  }
}

.feedback-input:focus { border:2px solid lighten($brand-primary, 10%); }

.submitBtn {
  @media(min-width: $screen-sm-min) {
    padding-top:10px;
    padding-bottom:10px;
    font-size:24px;
    font-weight:700;
  }
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: $brand-primary;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  transition: all 0.3s;
  margin-top:-4px;
  &:hover { background: lighten($brand-primary, 10%); }
}

/*[type="submit"]:hover { background:#CC4949; }*/

