
<div class="row">
    <div class="col-sm-5 desktopMap">
        <span ng-show="enable" class="editMode">球場位置編輯模式
            <br>
            <a ng-click="QandA()" style="font-size: 80%">
                有疑問<i class="fa fa-question-circle"></i>
            </a>
        </span>
        <span ng-show="enable" id="questionBtn" class="btn btn-primary">
            <i ng-click="QandA()" class="fa fa-question-circle"></i>
        </span>     
        <div id="map" marker></div>
        <drag-me class="mobileDrag" ng-show="currentcourt"></drag-me> 
        <button title="定位(解除瀏覽器的封鎖才可以使用喔)" type="button" id="geolocate" class="geolocateBtn"
        ng-click="geolocate()"
        popover="{{geoErr}}"
        popover-placement="left"
        popover-is-open="gotErr">
            <span class="fa fa-3x fa-spinner faa-spin animated" ng-hide="!locating"></span>
            <span class="glyphicon glyphicon-screenshot" ng-hide="locating" popover="尋找鄰近球場" popover-trigger="mouseenter"></span>
        </button>
        <!-- Make a button that let user select the courts to appear -->
        <button class="btn"
        ng-class="{'btn-primary': !enable, 'btn-success': enable}"
        id="addMarker" 
        ng-init="enable=false"
        ng-click="enableAddMarker()"
        popover="{{popMess}}" 
        popover-trigger="mouseenter"
        popover-placement="bottom">
            <span class="glyphicon" 
            ng-class="{'glyphicon-map-marker': !enable, 'glyphicon-ok': enable}"></span>
        </button>
    </div>
    <div class="col-sm-7 courtDisplay">
        <div style="height: 30vh; padding-top: 30px;">
            <div class="page-header" style="padding-bottom: 0px; margin-bottom: 0px;">
            <!-- Searchbox for mobile -->
                <div id="searchbox">
                    <div ng-hide="enable" style="color: black">
                        <form name="search" ng-submit="goToLocation(searchText)">
                            <div class="input-group input-group-lg court-input-group">
                              <input type="text" ng-model="searchText" placeholder="尋找球場" typeahead="(court.court || court.address) for court in courtsCached | filter:$viewValue | limitTo:8" typeahead-loading="loadingLocations" class="court-input form-control">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" style="height: 47px;">
                                    <i ng-hide="loadingLocations" class="fa fa-search"></i>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </button>
                              </span>
                            </div>         
                        </form>
                        <div ng-show="noResult" class="alert alert-warning" style="width: 80%; margin: 1% auto">
                            目前還沒有{{searchText}}球場,
                            馬上
                            <a ng-hide="isLoggedIn" ui-sref="signup">註冊</a>
                            加自己的球場
                            <a ng-show="isLoggedIn" ng-click="QandA()">怎麼加？</a>
                        </div>
                    </div>
                    <div ng-show="enable">
                        <form>
                            <div class="input-group input-group-lg court-input-group">
                              <input id="mobileSearch" type="text" placeholder="找球場附近的地點" class="court-input form-control">
                              <span class="input-group-addon">
                                <i class="fa fa-search"></i>       
                              </span>
                            </div>         
                        </form>
                    </div>
                    <!-- Filter and Order -->
                    <form class="form-inline mobile-select">
                        <div class="form-group">
                            <select ng-options="city for city in cities" ng-model="city" class="form-control court-input court-select" ng-change="filter(city, 'city')">
                                 <option value="">-- 請選城市 --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select ng-options="district for district in districts" ng-model="district" class="form-control court-input court-select" ng-change="filter(district, 'district')">
                                 <option value="">-- 請選區域 --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select ng-options="m.ch for m in sortMethods" ng-model="methods" class="form-control court-input court-select" ng-change="filter(methods, 'order')">
                                 <option value="">-- 排列方式 --</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
        <div style="height: 70vh; width: 95%; margin: 0 auto; overflow-y: scroll;">
            <div ng-hide="courtList" style="width: 100%; text-align: center;">
                <img class="bounceBall faa-spin faa-bounce animated" src="assets/images/ball.png" alt="basketball">
            </div>
            <div class="list-group" ng-repeat="c in courtList" 
            ng-mouseover="openInfo($event, c)">
              <a ui-sref="thiscourt({id: c._id})" class="list-group-item">
                <div ng-controller="ratingCtrl" 
                class="pull-right" 
                ng-mouseover="totalRating = true"
                ng-mouseleave="totalRating = false">
                    <rating
                    style="color: gold; font-size: 150%;"
                    ng-model="c.averagedRating" 
                    max="5" 
                    data-readonly="true" 
                    titles="['不要去','有瑕疵','不錯', '很好打', '極品']"></rating>
                    <span 
                    ng-show="c.averagedRating"
                    style="position: absolute; font-size: 120%;" class="label" ng-class="{'label-danger': c.averagedRating<1, 'label-warning': c.averagedRating>=1 && c.averagedRating<3, 'label-success': c.averagedRating>=3}">{{c.averagedRating | number:0}}顆星</span>
                    <span ng-show="totalRating" style="position: absolute;" class="badge">總共{{c.ratings.length}}個評價</span>
                </div>
                <h4 class="list-group-item-heading">{{c.court}}</h4>
                <p class="list-group-item-text">{{c.address}}</p>
                
              </a>
            </div>
        </div>
    </div>
    

    
    <!-- Slide button for court detail -->
    <!-- <button class="btn slideBtn" slide-toggle="#detail" expanded="expanded" map="map" ng-model="expanded" 
    ng-show="currentcourt">
        <i class="fa fa-3x" ng-class="{'fa-angle-double-up black faa-bounce animated': !expanded, 'fa-angle-double-down white': expanded}"></i>
    </button> -->
    
    
    <!-- Mobile court detail ends -->
    <!-- Court detail starts here -->
    <!--<div id="detail" class="court-detail slideable" ng-show="currentcourt">
        <div class="row detail-inner">
            <div>             
                <div 
                ng-show="currentcourt.pictures[0]"
                ng-mouseover="hovered=true" 
                ng-mouseleave="hovered=false" 
                class="picture-area" 
                ng-class="{'col-sm-12': hovered, 'col-sm-3': !hovered}">
                    <div class="wrapper">
                        <div ng-hide="hovered" class="singleImage">
                            <img ng-src="{{currentcourt.pictures[0].url}}">
                        </div>
                        <div ng-show="hovered" ng-repeat="picture in currentcourt.pictures" class="courtPicture">
                            <div>
                                <a style="cursor: pointer;" ng-click="openLightboxModal($index)">
                                    <img ng-src="{{picture.url}}">
                                </a>
                                <button class="picDeleteBtn" 
                                ng-click="deletePic(picture)"
                                ng-show="isAdmin || isManager">
                                    <span class="glyphicon glyphicon-trash">
                                    </span>
                                </button>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-sm-3" ng-show="!currentcourt.pictures.length">
                    <p class="picPlaceholder text-center">目前還沒有照片</p>
                    <img class="img-responsive" src="assets/images/courtpicplaceholder.png">
                </div>
            </div>
            <div class="infoBox" ng-class="{'col-sm-3': !hovered}" ng-hide="hovered">
                <h2>{{currentcourt.court}}</h2>
                <h2 ng-show="!currentcourt.court">球場名</h2>
                </h2>
                <p>開放時間:</p>
                <p ng-show="currentcourt.hours">
                    {{currentcourt.hours.begin | date:'shortTime'}}~{{currentcourt.hours.end | date:'shortTime'}}
                </p>
                <p>尖峰:</p>
                <p ng-show="currentcourt.peaktime">
                    {{currentcourt.peaktime.begin | date:'shortTime'}}~{{currentcourt.peaktime.end | date:'shortTime'}}
                </p>
            </div>
            <div class="infoBox" ng-class="{'col-sm-3': !hovered}" ng-hide="hovered">
                <h2>球場情報</h2>
                <div class="col-sm-6">
                    <div 
                    ng-mouseover="showceiling=true"
                    ng-mouseleave="showceiling=false">
                        <div ng-show="!showceiling">
                            <p ng-show="currentcourt.indoor">室內</p>
                            <p ng-show="!currentcourt.indoor">室外</p>
                        </div>
                        <p ng-show="showceiling">屋簷:{{currentcourt.ceiling | exist}}</p>
                    </div>
                    <div
                    ng-mouseover="shownet=true"
                    ng-mouseleave="shownet=false">
                        <p ng-show="!shownet">
                        籃網:{{currentcourt.net | exist}}</p>
                        <p ng-show="shownet">{{currentcourt.nettype}}</p>
                        <p ng-show="shownet && !currentcourt.nettype">沒籃網</p>

                    </div>
                    <p>籃框數:{{currentcourt.basketnumber}}</p>
                    <p>地質:{{currentcourt.floor}}</p>
                </div>
                <div class="col-sm-6">
                    <div
                    ng-mouseover="showwater=true"
                    ng-mouseleave="showwater=false">
                        <p ng-show="!showwater">飲水機:{{currentcourt.water.exist | exist}}</p>
                        <p ng-show="showwater && currentcourt.water.desc">{{currentcourt.water.desc}}</p>
                        <p ng-show="showwater && !currentcourt.water.desc">記得帶水喔</p>
                    </div>
                    <div
                    ng-mouseover="showtoilet=true"
                    ng-mouseleave="showtoilet=false">
                        <p ng-show="!showtoilet">廁所:{{currentcourt.toilet.exist | exist}}</p>
                        <p ng-show="showtoilet && currentcourt.toilet.desc">{{currentcourt.toilet.desc}}</p>
                        <p ng-show="showtoilet && !currentcourt.toilet.desc">辦完事再出門</p>
                    </div>
                    <p>燈:{{currentcourt.lights | exist}}</p>
                    <div
                    ng-mouseover="showrent=true"
                    ng-mouseleave="showrent=false">
                        <p ng-show="!showrent">租金:{{currentcourt.rent | exist}}</p>
                        <p ng-show="showrent && currentcourt.rentprice">
                            {{"$" + currentcourt.rentprice + "/小時"}}
                        </p>
                        <p ng-show="showrent && !currentcourt.rentprice">免費喔</p>
                    </div>
                </div>
            </div>
            <div class="infoBox" ng-class="{'col-sm-3': !hovered}" ng-hide="hovered">
                <h2>管理員留言</h2>
                <p>{{currentcourt.desc}}</p>
            </div>
            <div class="editBtns">
                <button class="btn editDetailButton" 
                ng-click="uploadmode()" 
                ng-model="upload" 
                ng-show="isAdmin || isManager || isVip">
                    <span class="glyphicon glyphicon-camera"></span>
                </button>
                <button class="btn editDetailButton"
                ng-click="editmode()" 
                ng-model="edit" 
                ng-show="isAdmin || isManager || isVip">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
    </div>-->
    <!--Upload page-->
    <div id="uploadPic" class="editPage col-lg-12" 
    ng-include="'app/courts/temp/upload.page.html'" 
    ng-init="upload=false" ng-show="upload" 
    ng-click="uploadmode()"
    ></div>
    <!--Edit page-->
    <div id="courtEditPage" class="editPage col-lg-12" 
    ng-include="'app/courts/temp/edit.page.html'" 
    ng-init="edit=false" ng-show="edit" 
    ng-click="editmode()"></div>
    <!-- <div class="row">
        <div class="event col-sm-6" style="border-right: 1px solid grey">
            
            <div ng-show="currentcourt" ng-include="'app/events/events.court.html'"></div>
        </div>
        <div class="col-sm-6">
            
            <div ng-show="currentcourt" ng-include="'app/comments/comments.html'"></div>
        </div>
    </div> -->
    <!-- Comments end -->
    <!-- Old searcbox with params -->
    <!-- <div id="searchbox">
        <form ng-submit="searchCourt(searchParams)">
            <nit-advanced-searchbox
                ng-model="searchParams"
                parameters="availableSearchParams"
                submit="searchCourt(searchParams)"
                placeholder="任意輸入或用以下的選項"
                focus="searchFocus"
                popover-placement="bottom" 
                popover="目前還沒有此球場" 
                popover-is-open="noResult"
                popover-trigger="none">
            </nit-advanced-searchbox>
            <button ng-hide="searchFocus" type="submit" class="btn pull-right" ng-class="{'btn-primary': !gotResult, 'btn-success btn-sm': gotResult}">
            <span ng-show="!gotResult">
            送出  
            </span>
            <span ng-show="gotResult && !searchFocus"><i class="fa fa-2x fa-check-circle"></i></span>
            </button>
        </form>
        <span ng-show="gotResult && searchFocus" class="pull-right text-success"><i class="fa fa-lg fa-check-circle"></i></span> 
    </div> -->
    
</div>