<div class="jumbotron" style="width: 100%; height: 100vh; display: table; background: rgba(0,0,0,0.8)">
	<img src="/assets/images/teamUSA.jpg" class="coverPic" ng-hide="event.pics[0].url">
	<div style="display: table-cell; vertical-align: middle; color: white;">
	<!-- /assets/images/pic4.jpg -->
		<h1>人外有人，天外有天</h1>
		<p>唯有交戰過，才了解自我</p>
		<div style="text-align: center">
	        <div style="margin-top: 20px;">
	        	<button style="font-size:120%" class="eventBtn" ng-click="createTeam()">註冊球隊</button>
	        </div>
        </div>
	</div>
</div>
<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px; padding-top: 40px;">
	<form class="form-inline">
	  <div class="form-group">
	    <label for="sort">排序方式:</label>
	    <select ng-options="method.ch for method in methods" ng-model="method" class="form-control">
    		 <option value="">-- 請選擇 --</option>
    	</select>
	  </div>
	</form>
	<div class="row">
		<div style="text-align: center" ng-hide="teams[0]">
			<i class="fa fa-4x fa-spinner fa-pulse"></i>
		</div>
		<div class="col-sm-4" ng-repeat="team in teams | orderBy: method.value track by $index">
			<div class="thumbnail">
			  <div class="caption">
			    <a ui-sref="thisteam({team: team._id})">
			    	<h3>{{team.name}}</h3>
			    </a>	
			    <p>{{team.represent}}</p>
			  </div>
			  <a ui-sref="thisteam({team: team._id})">
				  <img ng-hide="team.teampic[0]" src="/assets/images/teamPic.jpg" alt="...">
				  <img ng-show="team.teampic[0]" ng-src="{{team.teampic[0].url}}" alt="...">
			  </a>
			  <div class="caption">
			    <p>{{team.intro}}</p>
			    <p><a ng-click="invite(team)" class="btn btn-primary" role="button">約戰</a></p>
			  </div>
			</div>
		</div>	
	</div>
	<hr>
	
	
</div>