 <div class="modal-header">
    <h1 class="modal-title">使用說明</h1>
</div>
<div class="modal-body">
    <ul>
        <li>
        	<h3>新增球場:</h3>
				<ul>
                    <li>點選
                    <img src="/assets/images/addmarker.png" alt="addmarker button">
                    進入編輯模式
                    </li>
					<li>當滑鼠指標變成
                    <img src="/assets/images/crosshair.gif" alt="crosshair">
                    直接點選地圖上的位置來新增球場位置</li>
					<li>如果已經在球場，點選定位按鍵，
                    <img src="/assets/images/geolocate.png" alt="geolocate button">
                    然後點選建立球場</li>
					<li>只知道附近地標或地址的話，可用搜尋方塊搜尋
                    <img src="/assets/images/search.png" alt="search bar image">
                    </li>
				</ul>
            <h3>編輯球場:</h3>
                <ul>
                    <li>1.點選新增的籃球框
                    <img src="/assets/images/basket.png" alt="basket marker" style="width: 30px; height: 50px;">
                    圖示，
                    在點選前往球場主頁</li>
                    <li>2.點選圓形鉛筆按鍵
                    <img src="/assets/images/edit.png" alt="edit button">
                    進入編輯視窗</li>
                    <li>3.依照表格標題，填入恰當的資訊</li>
                </ul>
            <h3>上傳球場照片</h3>
                <ul>
                    <li>1.點選新增的籃球框圖示，在點選前往球場主頁</li>
                    <li>2.點選圓形相機按鍵
                    <img src="/assets/images/upload.png" alt="upload button">
                    進入編輯視窗</li>
                    <li>3.選擇檔案，如果用桌機，可以直接拖曳檔案至紅框內</li>
                </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <a class="pull-left" ui-sref="contact" ng-click="close()">聯絡我們</a>
    <button class="btn btn-primary" ng-click="close()">OK</button>
</div>