<div class="jumbotron" style="width: 100%; height: 100vh; display: table; background: rgba(0,0,0,0.8)">
	<img src="/assets/images/indoor.jpg" class="coverPic" ng-hide="event.pics[0].url">
	<div style="display: table-cell; vertical-align: middle; color: white;">
	<!-- /assets/images/pic4.jpg -->
		<h1>雨天.晴天.都是籃球天</h1>
		<p>再也找不到不變強藉口</p>
		<div style="text-align: center">
	        <div style="margin-top: 20px;">
	        	<button style="font-size:120%" class="eventBtn" ng-click="createTeam()">找球場</button>
	        </div>
        </div>
	</div>
</div>
<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px; padding-top: 40px;">
	<!-- <form class="form-inline">
	  <div class="form-group">
	    <label for="sort">排序方式:</label>
	    <select ng-options="method.ch for method in methods" ng-model="method" class="form-control" ng-change="orderTeam()">
    		 <option value="">-- 請選擇 --</option>
    	</select>
	  </div>
	  <div class="form-group">
	    <label for="filter">篩選條件:</label>
	    <select ng-options="district for district in districts" ng-model="search.district" class="form-control" ng-change="getCities(search.district)">
    		 <option value="">-- 請選區域 --</option>
    	</select>
	  </div>
	  <div class="form-group" ng-show="cities[0]">
	    <select ng-options="city for city in cities" ng-model="search.city" class="form-control">
    		 <option value="">-- 請選城市 --</option>
    	</select>
	  </div>
	</form> -->
	<div style="text-align: center" ng-hide="courts[0]">
		<i class="fa fa-4x fa-spinner fa-pulse"></i>
	</div>
	<!-- <div class="row" ng-repeat="team in teams | orderBy: method.value | filter: search track by $index"> -->
	<div class="row" ng-repeat="court in courts | orderBy: method.value | filter: search track by $index" ng-if="$index % 4 == 0">
		<div class="col-sm-6" 
		   ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" 
		   ng-if="courts[i] != null">
			<div class="thumbnail">
			  <div class="caption">
			    <a ui-sref="thisindoor({id: courts[i]._id})">
			    	<h3>{{courts[i].court}}</h3>
			    </a>	
			    <p>{{courts[i].desc}}</p>
			  </div>
			  <a ui-sref="thisindoor({id: courts[i]._id})">
				  <img ng-hide="courts[i].teampic[0]" src="/assets/images/teamPic.jpg" alt="...">
				  <img ng-show="courts[i].teampic[0]" ng-src="{{courts[i].teampic[0].url}}" alt="...">
			  </a>
			  <div class="caption">
			    <p>${{courts[i].perPersonPrice}}/小時</p>
			    <p>至少{{courts[i].minCapacity}}人開放</p>
			    <p class="pull-right"><a class="btn btn-primary" role="button">預約</a></p>
			  </div>
			</div>
		</div>
		<!-- <p>{{team}}</p>
		<div class="col-sm-4" ng-repeat="t in team">
			<p>test{{$index}}</p>
			
		</div>	 -->
	</div>
	<hr>
	
	
</div>