<div class="jumbotron" style="width: 100%; height: 100vh; display: table; background: rgba(0,0,0,0.8)">
	<img src="/assets/images/indoor.jpg" class="coverPic" ng-hide="event.pics[0].url">
	<div style="display: table-cell; vertical-align: middle; color: white;">
	<!-- /assets/images/pic4.jpg -->
		<h1>雨天.晴天.都是籃球天</h1>
		<p>就是想打球</p>
		<div style="text-align: center">
	        <div style="margin-top: 20px;">
	        	<button style="font-size:120%" class="eventBtn" ng-click="openInfo()">瞭解更多
					<i class="fa fa-question-circle"></i>
	        	</button>
	        </div>
        </div>
	</div>
</div>
<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px; padding-top: 40px;">
	<div style="text-align: center" ng-hide="courts[0]">
		<i class="fa fa-4x fa-spinner fa-pulse"></i>
	</div>
	<div class="row">
		<div class="col-sm-6" ng-repeat="court in courts" style="margin-bottom: 30px;">
		   	<div class="img-container">
				  <img ng-hide="court.pictures[0]" src="/assets/images/indoor_court.jpg" alt="...">
				  <img ng-show="court.pictures[0]" ng-src="{{court.pictures[0]}}" alt="...">
				<a ui-sref="thisindoor({id: court._id})">
			   		<div class="indoor-img-overlay indoor-img-overlay">
			   			<div class="overlay-header">
					    	<h3>{{court.court}}
						    	<!-- <span class="label label-primary">
									<i class="fa fa-dollar"></i>
								    {{court.perPersonPrice}}
									<span>
									    /小時
									</span>
						    	</span> -->
						    	<span class="label label-primary">
									<i class="fa fa-dollar"></i>
								    {{court.rentprice}}
									<span>
									    /小時
									</span>
						    	</span>
					    	</h3>
					    	<div class="pull-right">
					    		<i class="fa fa-eye"></i>
					    		{{court.views}}
					    	</div>
					    	<div style="margin-left: 10px;">
								<rating class="pointer"
								style="color: gold;"
					            ng-model="court.averagedRating" 
					            max="5" 
								data-readonly="true" 
					            titles="['不要去','有瑕疵','不錯', '很好打', '極品']"></rating>
					    	</div>
			   			</div>
				    	<p>
							<i class="fa fa-map-marker"></i>
				    		{{court.address}}
				    	</p>
				    	<!-- <p>
							<i class="fa fa-users"></i>
						    至少{{court.minCapacity}}人開放
				    	</p> -->
				    	<p>
				    		<i class="fa fa-phone"></i>
				    		{{court.telnumber}}
				    	</p>
				  
					    <p>{{court.desc}}</p>
			   			
			   		</div>
				</a>
		   	</div>
			  <div class="caption">
			  	<a ui-sref="thisindoor({id: court._id})">
			    </a>	
			    <!-- <button class="pull-right trans-btn" ng-click="openReserve(court._id)">預約</button> -->
			  </div>
		</div>
		<!-- <p>{{team}}</p>
		<div class="col-sm-4" ng-repeat="t in team">
			<p>test{{$index}}</p>
			
		</div>	 -->
	</div>
	<hr>
	
	
</div>