<div class="insideModal">
  <span class="glyphicon glyphicon-remove pull-right pointer" ng-click="closeModal()"></span>
  <div class="row">
    <div class="col-sm-12 signupContainer">
      <div class="desktopMessage">
        <h1>籃球等著被你打</h1>
        <div class="faa-bounce animated" style="margin-top: 5px;">
          <span class="faa-spin animated">
            <img src="/assets/images/basketball.icon.png" 
            alt="basketball" 
            style="width: 50px; height: 50px; background: none;">
          </span>
        </div>
      </div>
      <div class="mobileMessage">
        <h1>
          走啊，打
          <div class="faa-bounce animated pull-right" style="margin-left: 10px; margin-top: -10px;">
            <span class="faa-spin animated">
              <img src="/assets/images/basketball.icon.png" 
              alt="basketball" 
              style="width: 50px; height: 50px; background: none;">
            </span>
          </div>
        </h1>
      </div>
      <hr>
      <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
        'has-error': form.name.$invalid && submitted }">
          <div class="input-group col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
            <span class="input-group-addon fa-icon-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="請輸入姓名" autofocus required name-check/>
          </div>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            姓名是必要的
          </p>
          <p class="help-block" ng-show="form.name.$error.nameCheck" >姓名不可包含特殊符號(例如!@#$%^&*()_+{}"';:?/)</p>
        </div>

        <div class="form-group" ng-class="{ 
        'has-success': form.email.$valid && submitted,
        'has-error': form.email.$invalid && submitted }">
          <div class="input-group col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
            <span class="input-group-addon fa-icon-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input type="email" name="email" class="form-control" ng-model="user.email" 
            required mongoose-error placeholder="請輸入Email"/>
          </div>

          
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            請輸入有效的Email
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            你的Email是？
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 
        'has-success': form.password.$valid && submitted,
        'has-error': form.password.$invalid && submitted }">
          <div class="input-group col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
            <span class="input-group-addon fa-icon-addon"><i class="fa fa-lock fa-fw"></i></span>
            <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8"
            placeholder="請輸入密碼"
            required mongoose-error/>
          </div>

          
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            密碼需要至少八個字母
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
        <button class="btn btn-primary btn-lg btn-login" type="submit">
          註冊
        </button>
        <a class="btn btn-default btn-lg btn-register" 
        ng-click="closeModal()"
        ui-sref="login">
          去登入
        </a>
        
        <!-- <div style="height: 1px; background-color: #efefef; 
          text-align: center; margin: 20px 0;">
          <span style="background-color: white; position: relative; top: -0.5em;">
            或者
          </span>
        </div>
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Facebook註冊
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Google+註冊
          </a>
        </div> -->
      </form>
  </div>
  <hr>
</div>
