.desktopMessage {
	display: none;
	@media (min-width: 768px) {
		display: block;
	}
}

.mobileMessage {
	display: block;
	@media (min-width: 768px) {
		display: none;
	}
}

.signupContainer {
	@media (max-width: 768px) {
		hr {
			margin: 5px 0;
		}
		.form-group {
			margin: 0px;
		}
		.btn {
			margin-top: 5px;
		}
	}
}