<div class="container" style="margin-top: 60px;">
	<div class="col-sm-12 white-bg padding-10">
		<div class="page-header">
			<h1>預約狀態
				<span class="label label-warning" ng-hide="res.active">未開放</span>
				<span class="label label-primary" ng-show="res.active">已開放</span>
			</h1>
		</div>
		<div class="margin-bottom-20" ng-hide="res.active">
			<timer class="coutdown" end-time="res.timeForConfirmation">
				{{days}} 天 {{hours}}時 {{minutes}} 分 {{seconds}}秒後截止預約
			</timer>
			<p>等待以下時段人數達到{{res.minCapacity}}人</p>
			<p>如截止時間已到，其中一個時段沒有達到最低人數限制，此預約將自動取消</p>
		</div>
		<div class="margin-bottom-20">
			<div ng-repeat="slot in res.timeslot" class="timeslot-display pointer" ng-click="openTimeslot(slot)">
				<span>
					<i class="fa fa-clock-o"></i>
					{{slot.start | date: 'h:mm a'}}~{{slot.end | date: 'h:mm a'}}
				</span>
				<span class="pull-right" ng-hide="slot.active">
					差{{slot.numOfPeopleTilActive}}人就開放
				</span>
				<span class="pull-right" ng-show="slot.active && !slot.full">
					已開放 ｜ 差{{slot.numOfPeopleTilFull}}就客滿	
				</span>
				<span class="pull-right" ng-show="slot.full">
					已客滿	
				</span>
			</div>	
		</div>
	</div>
	<div class="col-sm-12 white-bg padding-10">
		<div class="page-header">
			<h1>預約細節</h1>
		</div>
		<p class="reserve-info">
		<i class="fa fa-calendar"></i>
		日期: {{res.beginTime | date: 'MM/dd/yyyy'}}</p>
		<p class="reserve-info">
		<i class="fa fa-clock-o"></i>
		時段: {{res.beginString}} ~ {{res.endString}}</p>
		<p class="reserve-info">
		<i class="fa fa-users"></i>
		人數: {{res.numOfPeople}}</p>
		<p class="reserve-info">
		<i class="fa fa-map-pin"></i>
		球場名: {{res.courtReserved.court}} 地址: {{res.courtReserved.address}}</p>
		<p class="reserve-info margin-bottom-20">
		<i class="fa fa-dollar"></i>
		金額: ${{res.pricePaid}}</p>
	</div>
	<div class="col-sm-12 white-bg padding-10">
		<div class="page-header">
			<h1>認證密碼</h1>
		</div>
		<p>請好好保管此密碼，憑此密碼入場</p>
		<p class="reserve-info margin-bottom-20">
		<i class="fa fa-lock"></i>
		密碼: {{res.confirmationCode}}</p>
		
	</div>
</div>