.reservation-status-success {
	background: $brand-primary; 
	border-radius: 5px; 
	color: white; 
	padding: 10px;
}

.reservation-status-cancel {
	background: #444; 
	border-radius: 5px; 
	color: white; 
	padding: 10px;
}


.margin-bottom-20 {
	margin-bottom: 20px;
}

.timeslot-display {
	padding: 30px; 
	border: 1px solid $brand-primary; 
	border-radius: 5px; 
	margin: 5px;
	&:hover {
		color: white;
		background-color: $brand-primary;
	}
}

.white-bg {
	background-color: white;
}

.padding-10 {
	padding: 10px;
}

.reserve-info {
	font-size: 120%;
	border-left: 2px solid black;
	padding: 5px;
	margin-left: 10px;
	color: black;
	&:hover {
		background-color: $brand-primary;
		color: white;
	}
}