.profilePicBox {
	width: 160px;
	height: 160px;
	border: 2px solid white;
	
}

.professionBadge {
	float: left;
	padding: 2px;
	margin-right: 5px;
	width: auto;
	height: 25px;
	background-color: $brand-primary;
	color: white;
	border-radius: 10%;
}
