<div class="jumbotron pic-overlay">
	<img src="/assets/images/pic4.jpg" class="coverPic" ng-hide="event.pics[0].url">
	<img ng-src="{{currentcourt.pictures[0].url}}" class="coverPic">
	<div class="jumbotron-content-container">		
		<h1 >{{currentcourt.court}}</h1>
		<p>{{currentcourt.address}}</p>
		<div style="text-align: center">
			<div ng-controller="ratingCtrl">
	        	<div ng-mouseover="totalRating = true"
	        	ng-mouseleave="totalRating = false">
		            <rating class="pointer" 
		            style="color: gold; font-size: 150%;"
		            ng-model="currentcourt.averagedRating" 
		            max="5" 
					data-readonly="true" 
		            titles="['不要去','有瑕疵','不錯', '很好打', '極品']"
		            ng-click="openRates()"></rating>
		            <span ng-show="totalRating" style="position: absolute; font-size: 120%;" class="badge">總共{{currentcourt.ratings.length}}個評價</span>
	        	</div>
	            <br>
	            <!-- <span>總分{{currentcourt.averagedRating | number:2}}</span> -->
	            <div style="margin-bottom: 25px;">每人
	            	<span class="price-tag">${{currentcourt.perPersonPrice}}</span>
	            /小時</div>
	            <div>每小時至少{{currentcourt.minCapacity}}人開放</div>
		        <div style="margin-top: 20px;">
		        	<button style="font-size:90%" class="eventBtn" ng-click="reserve()">預約場地</button>
		        </div>
	        </div>
	        <div class="fbContainer">
		        <div class="fb-like" onrender="fbLikeRendered()"
				  data-href="https://keepballin.com/courts/{{currentcourt._id}}" 
				  data-layout="button_count" 
				  data-action="like"
				  data-image="http://s3-ap-northeast-1.amazonaws.com/keepballin/pictures/assets/preview.png" 
				  data-show-faces="true" 
				  data-share="true"></div>
	        </div>
        </div>
	</div>
</div>
<div class="container" style="margin-bottom: 60px; background-color: white; padding-bottom: 40px;">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-flag"></i>
					簡介
				</h2>
			</div>
			<p style="font-size: 130%;">{{currentcourt.desc}}</p>	
		</div>
		<div class="col-sm-12" style="font-size: 150%;">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-clock-o"></i>
					開放時段
				</h2>
			</div>
			<div style="overflow-x: scroll">
				<table class="flat-table">
	            	<thead>
	            		<th>禮拜一</th>
	            		<th>禮拜二</th>
	            		<th>禮拜三</th>
	            		<th>禮拜四</th>
	            		<th>禮拜五</th>
	            		<th>禮拜六</th>
	            		<th>禮拜日</th>
	            	</thead>
	            	<tbody>
	            		<tr>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['monday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['monday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['monday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['monday'].isOpen">
	            					不開放
	            				</span>
	            			</td>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['tuesday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['tuesday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['tuesday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['tuesday'].isOpen">
	            					不開放
	            				</span>
	            			</td>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['wednesday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['wednesday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['wednesday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['wednesday'].isOpen">
	            					不開放
	            				</span>
	            			</td>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['thursday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['thursday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['thursday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['thursday'].isOpen">
	            					不開放
	            				</span>
	            			</td>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['friday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['friday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['friday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['friday'].isOpen">
	            					不開放
	            				</span>
	            			</td>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['saturday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['saturday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['saturday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['saturday'].isOpen">
	            					不開放
	            				</span>
	            			</td>
	            			<td class="text-center">
	            				<span>{{ currentcourt.hours['sunday'].begin | date: 'shortTime' }}</span>
	            				<br/>
	            				<span ng-show="currentcourt.hours['sunday'].isOpen">
	            					<i class="fa fa-long-arrow-down"></i>
	            				</span>
	            				<br/>
	            				<span>{{ currentcourt.hours['sunday'].end | date: 'shortTime' }}</span>
	            				<span ng-hide="currentcourt.hours['sunday'].isOpen">
	            					不開放
	            				</span>
	            			</td>		
	            		</tr>
	            	</tbody>
	            </table>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<img style="width: 30px; height; 30px;" src="/assets/images/basketball.icon.png" alt="">
					球場資訊
				</h2>
			</div>
			<div class="col-sm-6">
				<p ng-show="currentcourt.indoor">室內
					<i class="fa fa-home"></i>
				</p>
	            <p ng-show="!currentcourt.indoor">室外</p>
	            <p>全場數: {{currentcourt.courtnumber}}</p>
	            <p>籃框數:{{currentcourt.basketnumber}}</p>
	            <p>地質:{{currentcourt.floor}}</p>
			</div>
			<div class="col-sm-6">
	            <p>燈
	            	<i class="fa fa-lightbulb-o "></i>
	            :{{currentcourt.lights | exist}}</p>
	            <p>飲水機:{{currentcourt.water | exist}}</p>
	            <p>廁所:{{currentcourt.toilet | exist}}</p>
	            <p>觀眾席: {{currentcourt.bench | exist}}</p>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-usd"></i>
					租借資訊
				</h2>
			</div>
			<p>每人每小時收費: ${{currentcourt.perPersonPrice}}</p>
			<p>最低人數限制: {{currentcourt.minCapacity}}人</p>
			<p>最高人數限制: {{currentcourt.maxCapacity}}人</p>
		</div>
		<div class="col-sm-12">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-map-pin"></i>
					地點
				</h2>
			</div>
			<div id="indoorMap" class="rentCourtMap"></div>
		</div>
		<div class="col-sm-12">
			<div class="page-header black-bottom-border">
				<h2>
					<i class="fa fa-gavel"></i>
					使用條款
				</h2>
			</div>
			<div class="rules-html" ng-bind-html="currentcourt.rules"></div>
		</div>
		<div class="col-sm-12">
			<div class="page-header" style="border-bottom: 1px solid black;">
				<h2>
					<i class="fa fa-camera"></i>
					照片
				</h2>
			</div>
			<p ng-hide="currentcourt.pictures[0]">目前還沒有照片</p>
			<carousel interval="5000" no-wrap="false">
				<slide ng-repeat="slide in currentcourt.pictures track by $index">
					<img class="img-responsive" 
					ng-src="{{slide}}" 
					style="margin:auto;">
					<!-- <div class="carousel-caption">
			          <h4>由{{slide.user.name}}提供</h4>
			        </div> -->
				</slide>
			</carousel>
				
		</div>
	</div>
</div>