<div style="margin: 20px;">
	<form class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<input type="date" class="form-control event-input" datepicker-popup is-open="opened1" show-button-bar="false" min-date="today" ng-model="start" ng-disabled="sending" style=" height: 35px; color: black; font-size: 12px;"/>
				<span class="input-group-btn">
		          <button type="button" class="btn btn-default custom-addon" ng-click="openCal1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		        </span>
			</div>
		</div>
		<input type="time" class="form-control event-input" style="margin: 0">
        <input type="time" class="form-control event-input" style="margin: 0">
		
	</form>
</div>
<div style="margin: 10px">
	<div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="eventCal"></div>
</div>